<section class="container">
    <span>Ventas por año por proveedor</span>
    <select name="yearSupplier" class="form-select form-select-sm ng-pristine ng-invalid ng-touched" (change)="onYearSupplierChange($event)">
            <option *ngFor="let year of years" [value]="year">{{year}}</option>
    </select>
    <div class="table-responsive custom-table-responsive">
            <table class="table table-striped">
                    <thead>
                            <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Proveedor</th>
                                    <th scope="col">Monto $</th>
                            </tr>
                    </thead>
                    <tbody class="table-group-divider">
                            <tr *ngFor="let supplier of suppliers; let i = index">
                                    <td scope="row">{{i + 1}}</td>
                                    <td>{{supplier.entidad}}</td>
                                    <td>{{supplier.monto | currency:'ARS':'symbol':'1.0-2'}}</td>
                            </tr>
                    </tbody>
            </table>
    </div>
</section>
