<div class="app-medida">
  <div class="d-flex flex-row align-items-center my-3">
    <h1 class="h3 m-0 flex-fill text-truncate">
      <fa-icon [icon]="['fas', 'ruler-combined']"></fa-icon> Medida
    </h1>
  </div>
  <form [formGroup]="form" (submit)="submit()" *ngIf="form" class="bg-light border rounded p-3">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre"
          [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
      <div class="invalid-feedback" *ngIf="submitted && f.nombre.errors">
        <div *ngIf="f.nombre.errors.required">Requerido</div>
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
