<section class="container">
    <span>Ventas por mes</span>
    <select name="purchasePerMonth" class="form-select form-select-sm ng-pristine ng-invalid ng-touched"
        (change)="onYearChange($event)">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
    <div *ngIf="chartDataArray.length === 0" class="alert alert-secondary mt-2 text-center w-fit">
        No hay información disponible para este periodo. Seleccione un mes diferente
    </div>
    <div class="canvasStyle" *ngIf="chartDataArray.length > 0">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
            [legend]="barChartLegend" [type]="'bar'">
        </canvas>
    </div>
</section>