<section class="container">
    <span>{{ title }}</span>
    <div class="styleSelect">
        <button class="buttonStyle mr-2"><span>Año:</span></button>        
        <select name="year" class="form-select form-select-sm" (change)="onYearChange($event)">
            <option *ngFor="let year of years" [value]="year"> {{year}}</option>
        </select>
        <button *ngIf="showMonthSelector" class="buttonStyle mr-2"><span>Mes:</span></button>
        <select *ngIf="showMonthSelector" name="month" class="form-select form-select-sm"
                [(ngModel)]="selectedMonth" (change)="onMonthChange($event)">
            <option *ngFor="let month of months" [value]="month.value">{{month.name}}</option>
        </select>
    </div>
    <div *ngIf="suppliers.length === 0" class="alert alert-secondary mt-2 text-center">
        No hay información disponible para este periodo. Seleccione otro periodo
    </div>
    <div *ngIf="suppliers.length > 0" class="table-responsive custom-table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Monto $</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr *ngFor="let supplier of suppliers; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{supplier.entidad}}</td>
                    <td>{{supplier.monto | currency:'ARS':'symbol':'1.0-2'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>