<div class="app-remito my-3">
  <div *ngIf="facturasVenta.length">
    <div class="d-flex flex-row">
      <h1 class="h3 flex-fill text-truncate">
        <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
           (click)="volverAlListado()">
          <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
        </a>
        <fa-icon [icon]="['fas', 'file-export']"></fa-icon> Nuevo Remito
      </h1>
    </div>
    <div class="border rounded p-2 mb-3">
      <strong>Facturas que van a ser parte del remito:</strong>
      <ul class="ps-3 mb-0">
        <li *ngFor="let f of facturasVenta">
          {{ f.tipoComprobante.toString().replace('_', ' ') }} {{ f.cae ? helper.formatNumFactura(f.numSerieAfip, f.numFacturaAfip) : helper.formatNumFactura(f.numSerie, f.numFactura) }}
        </li>
      </ul>
    </div>
    <form [formGroup]="form" (submit)="submit()" *ngIf="form" class="border rounded bg-light p-3">
      <div class="row">
        <div class="col-md-4" formArrayName="bultos">
          <div class="d-flex flex-row align-items-center mb-2" *ngFor="let b of bultos.controls; let i=index;" [formGroupName]="i.toString()">
            <div class="form-check check-container">
              <input type="checkbox" class="form-check-input" [id]="'check_' + i" (change)="checkChange($event, b.get('cantidad'))" formControlName="check">
              <label class="form-check-label" [for]="'check_' + i">{{ b.get('tipo').value }}</label>
            </div>
            <div class="ms-2 mb-0 flex-fill">
              <label [for]="'cantidad_' + i" class="sr-only">Cantidad</label>
              <input type="number" min="1" required class="form-control text-end" [id]="'cantidad_' + i" formControlName="cantidad"
                      [ngClass]="{ 'is-invalid': submitted && b.get('cantidad').errors }">
              <div class="invalid-feedback" *ngIf="submitted && b.get('cantidad').errors">
                <div *ngIf="b.get('cantidad').errors.required">Requerido</div>
                <div *ngIf="b.get('cantidad').errors.min">Mínimo {{ b.get('cantidad').errors.min.min | number:'1.0-2' }}</div>
              </div>
            </div>
          </div>
          <hr>
          <div class="mb-3">
            <div class="d-flex flex-row justify-content-between align-items-center">
              <span [class.text-danger]="submitted && form.get('bultos').errors">Total de Bultos:&nbsp;</span>
              <span class="px-4 flex-fill text-end">{{ totalBultos }}</span>
            </div>
            <div class="custom-error-message" *ngIf="submitted && form.get('bultos').errors">
              <div *ngIf="form.get('bultos').errors.bultosCount">
                Debe ingresar al menos {{ form.get('bultos').errors.bultosCount.min }} bulto{{ form.get('bultos').errors.bultosCount.min === 1 ? '' : 's' }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="mb-3">
            <label for="pesoTotalEnKg" class="form-label">Peso Total (kg)</label>
            <input type="number" class="form-control text-end" id="pesoTotalEnKg" formControlName="pesoTotalEnKg"
                   [ngClass]="{ 'is-invalid': submitted && form.get('pesoTotalEnKg').errors }">
            <div class="invalid-feedback" *ngIf="submitted && form.get('pesoTotalEnKg').errors">
              <div *ngIf="form.get('pesoTotalEnKg').errors.min">Mínimo {{ form.get('pesoTotalEnKg').errors.min.min | number:'1.0-2' }}</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="volumenTotalEnM3" class="form-label">Volumen Total (m<sup>3</sup>)</label>
            <input type="number" class="form-control text-end" id="volumenTotalEnM3" formControlName="volumenTotalEnM3"
                   [ngClass]="{ 'is-invalid': submitted && form.get('volumenTotalEnM3').errors }">
            <div class="invalid-feedback" *ngIf="submitted && form.get('volumenTotalEnM3').errors">
              <div *ngIf="form.get('volumenTotalEnM3').errors.min">Mínimo {{ form.get('volumenTotalEnM3').errors.min.min | number:'1.0-2' }}</div>
            </div>
          </div>
          <div class="mb-4">
            <label for="idTransportista" class="form-label">Transportista</label>
            <select class="form-select" id="idTransportista" formControlName="idTransportista"
                    [ngClass]="{ 'is-invalid': submitted && form.get('idTransportista').errors }">
              <option *ngFor="let t of transportistas" [value]="t.idTransportista">{{ t.nombre }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="submitted && form.get('idTransportista').errors">
              <div *ngIf="form.get('idTransportista').errors.required">Requerido</div>
            </div>
          </div>
          <div class="mb-3">
            Total Facturas: <span class="fw-bold">{{ totalFacturas | currency: 'ARS':'symbol':'1.0-2' }}</span>
          </div>
          <div class="mb-3">
            <label for="costoDeEnvio" class="form-label">Costo de Envio ($)</label>
            <input type="number" class="form-control text-end" id="costoDeEnvio" formControlName="costoDeEnvio"
                   [ngClass]="{ 'is-invalid': submitted && form.get('costoDeEnvio').errors }">
            <div class="invalid-feedback" *ngIf="submitted && form.get('costoDeEnvio').errors">
              <div *ngIf="form.get('costoDeEnvio').errors.min">Mínimo {{ form.get('costoDeEnvio').errors.min.min | currency: 'ARS':'symbol':'1.0-2' }}</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea class="form-control" id="observaciones" rows="3" maxlength="250" formControlName="observaciones"></textarea>
          </div>
        </div>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary">
          <fa-icon [icon]="['fas', 'check']"></fa-icon> Guardar
        </button>
      </div>
    </form>
  </div>
</div>
