<div class="app-producto my-3">
  <div class="row">
    <h1 class="h3 col-md-10 text-truncate">
      <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
         (click)="volverAlListado()">
        <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
      </a>
      <fa-icon [icon]="['fas', 'box-open']"></fa-icon> {{ title }}
    </h1>
  </div>
  <form [formGroup]="form" class="mt-2" *ngIf="form">
    <ngb-accordion class="ops-accordion" #accordion [closeOthers]="true" [destroyOnHide]="false" activeIds="general" (panelChange)="panelBeforeChange($event)">
      <ngb-panel id="general">
        <ng-template ngbPanelTitle>
          <span class="d-flex align-items-center">
            <fa-icon [icon]="['fas', accordion.isExpanded('general') ? 'chevron-up' : 'chevron-down']" class="me-2"></fa-icon>
            <span>General</span>
          </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-6 col-lg-4 align-self-center">
              <label class="form-label sr-only" for="imagen">Imágen</label>
              <app-img-picker id="imagen" [imageDataUrl]="producto && producto.urlImagen ? producto.urlImagen : ''"
                  (changeAsData)="imageDataChange($event)" (changeAsUrl)="imageUrlChange($event)" >
              </app-img-picker>
            </div>
            <div class="col-md-6 col-lg-8">
              <div class="mb-3">
                <label for="codigo" class="form-label">Código</label>
                <input type="text" class="form-control" id="codigo" formControlName="codigo">
              </div>
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" required formControlName="descripcion"
                       [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }">
                <div class="invalid-feedback" *ngIf="submitted && f.descripcion.errors">
                  <div *ngIf="f.descripcion.errors.required">Requerido</div>
                </div>
              </div>
              <app-proveedor-filtro formControlName="idProveedor"></app-proveedor-filtro>
              <div class="custom-error-message error-message-fix" *ngIf="submitted && f.idProveedor.errors">
                <div *ngIf="f.idProveedor.errors.required">Requerido</div>
              </div>
              <div class="mb-3">
                <label for="medida" class="form-label">Medida</label>
                <select class="form-select" id="medida" formControlName="idMedida"
                        [ngClass]="{ 'is-invalid': submitted && f.idMedida.errors }">
                  <option *ngFor="let m of medidas" [value]="m.idMedida">{{ m.nombre }}</option>
                </select>
                <div class="invalid-feedback" *ngIf="submitted && f.idMedida.errors">
                  <div *ngIf="f.idMedida.errors.required">Requerido</div>
                </div>
              </div>
              <div class="mb-3">
                <label for="rubro" class="form-label">Rubro</label>
                <select class="form-select" id="rubro" formControlName="idRubro"
                        [ngClass]="{ 'is-invalid': submitted && f.idRubro.errors }">
                  <option *ngFor="let r of rubros" [value]="r.idRubro">{{ r.nombre }}</option>
                </select>
                <div class="invalid-feedback" *ngIf="submitted && f.idRubro.errors">
                  <div *ngIf="f.idRubro.errors.required">Requerido</div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="precios">
        <ng-template ngbPanelTitle>
          <span class="d-flex align-items-center">
            <fa-icon [icon]="['fas', accordion.isExpanded('precios') ? 'chevron-up' : 'chevron-down']" class="me-2"></fa-icon>
            <span>Precios</span>
          </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="mb-0">
            <label class="form-label sr-only" for="calculosPrecio">Precios</label>
            <app-calculos-precio-form [submitted]="submitted" id="calculosPrecio" formControlName="calculosPrecio"></app-calculos-precio-form>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="cantidades">
        <ng-template ngbPanelTitle>
          <span class="d-flex align-items-center">
            <fa-icon [icon]="['fas', accordion.isExpanded('cantidades') ? 'chevron-up' : 'chevron-down']" class="me-2"></fa-icon>
            <span>Cantidades</span>
          </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <label class="form-label">Cantidad en sucursales</label>
          <div formArrayName="cantidadEnSucursal">
            <div *ngFor="let ces of cantidadEnSucursal.controls; let i=index" [formGroupName]="i.toString()" class="mb-3">
              <div class="input-group mb-0">
                <span class="input-group-text" [id]="'cantidad_' + i + '_addon'">{{ ces.get('nombreSucursal').value }}</span>
                <input type="number" min="0" class="form-control text-end" placeholder="cantidad" aria-label="Cantidad" formControlName="cantidad"
                       [attr.aria-describedby]="'cantidad_' + i + '_addon'" [ngClass]="{ 'is-invalid': submitted && ces.get('cantidad').errors }">
              </div>
              <div class="custom-error-message" *ngIf="submitted && ces.get('cantidad').errors">
                <div *ngIf="ces.get('cantidad').errors.required">Requerido</div>
                <div *ngIf="ces.get('cantidad').errors.min">Mínimo {{ ces.get('cantidad').errors.min.min | number:'1.0-2' }}</div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="cantMinima" class="form-label">Venta por cantidad</label>
            <input type="number" min="1" class="form-control text-end" id="cantMinima" required formControlName="cantMinima"
                   [ngClass]="{ 'is-invalid': submitted && f.cantMinima.errors }">
            <div class="invalid-feedback" *ngIf="submitted && f.cantMinima.errors">
              <div *ngIf="f.cantMinima.errors.required">Requerido</div>
              <div *ngIf="f.cantMinima.errors.min">Mínimo {{ f.cantMinima.errors.min.min | currency:'ARS':'symbol':'1.0-2' }}</div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="propiedades">
        <ng-template ngbPanelTitle>
          <span class="d-flex align-items-center">
            <fa-icon [icon]="['fas', accordion.isExpanded('propiedades') ? 'chevron-up' : 'chevron-down']" class="me-2"></fa-icon>
            <span>Propiedades</span>
          </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label class="form-label">Visibilidad</label>
                <div class="btn-group d-flex" role="group">
                  <input type="radio" class="btn-check" [value]="true" id="publico-true" autocomplete="off" formControlName="publico">
                  <label class="btn btn-outline-secondary" for="publico-true">Público</label>
                  <input type="radio" class="btn-check" [value]="false" id="publico-false" autocomplete="off" formControlName="publico">
                  <label class="btn btn-outline-secondary" for="publico-false">Privado</label>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label">Para Catálogo</label>
                <div class="btn-group d-flex" role="group">
                  <input type="radio" class="btn-check" [value]="true" id="para-catalogo-true" autocomplete="off" formControlName="paraCatalogo">
                  <label class="btn btn-outline-secondary" for="para-catalogo-true">Sí</label>
                  <input type="radio" class="btn-check" [value]="false" id="para-catalogo-false" autocomplete="off" formControlName="paraCatalogo">
                  <label class="btn btn-outline-secondary" for="para-catalogo-false">No</label>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="fechaVencimiento" class="form-label">Fecha de vencimiento</label>
                <div class="input-group">
                  <input class="form-control" readonly id="fechaVencimiento" formControlName="fechaVencimiento"
                         [displayMonths]="1" [navigation]="'select'" [outsideDays]="'visible'"
                         [showWeekNumbers]="false" ngbDatepicker #dd="ngbDatepicker">
                  <button class="btn btn-outline-secondary" type="button" (click)="form.get('fechaVencimiento').setValue(null)">
                    <fa-icon [icon]="['fas', 'broom']"></fa-icon>
                  </button>
                  <button class="btn btn-outline-secondary" (click)="dd.open()" type="button">
                    <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3" *ngIf="producto">
            <div class="col-md-6 mb-2">Última Modificación: <strong>{{ producto.fechaUltimaModificacion | date:'dd/MM/yyyy HH:mm' }}</strong></div>
            <div class="col-md-6">Fecha de Alta: <strong>{{ producto.fechaAlta | date:'dd/MM/yyyy HH:mm' }}</strong></div>
          </div>
          <div class="mb-3">
            <label for="nota" class="form-label">Nota</label>
            <textarea class="form-control" maxlength="250" id="nota" formControlName="nota" rows="5" [ngClass]="{ 'is-invalid': submitted && f.nota.errors }"></textarea>
            <div class="invalid-feedback" *ngIf="submitted && f.nota.errors">
              <div *ngIf="f.nota.errors.maxlength">Máximo {{ f.nota.errors.maxlength.requiredLength }} caracteres</div>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <div class="text-end my-2">
      <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!form.valid">
        <fa-icon [icon]="['fas', 'check']"></fa-icon> Guardar
      </button>
    </div>
  </form>
</div>
