//@import "../../../variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.table-responsive {
  &.grabbing {
    cursor: grabbing;
  }
}
.lista-table-container {
  overflow: hidden;
}
table.table {
  .selection-column {
    position: sticky;
    left: 0;
    min-width: 2rem;
    background: #fff;
  }
  .actions-column {
    position: sticky;
    right: 0;
    width: 3rem;
    min-width: 3rem;
    background: #fff;
  }
  thead th {
    border-bottom: 2px solid $border-color;
    background: #fff;
  }
  tbody tr:last-child > * {
    border-bottom-width: 0;
  }
  tbody tr.table-warning {
    .selection-column,
    .actions-column {
      background: var(--bs-table-bg);
    }
  }
}

@include media-breakpoint-down(md) {
  .lista-table-container {
    border: 0 !important;
    background: transparent !important;
  }
}



