<div class="side-nav">
  <div class="text-right mb-2">
    <button class="btn btn-primary mr-2" (click)="optionClick()">
      <fa-icon [icon]="['fas', 'times']"></fa-icon>
    </button>
  </div>
  <ngb-accordion id="menu" class="ops-accordion" [closeOthers]="true" #accordion [activeIds]="accordionActiveId">
    <ng-template ngFor let-m [ngForOf]="menuData">
      <ngb-panel [id]="m.id" *ngIf="m.show">
        <ng-template ngbPanelTitle>
          <span class="d-flex align-items-center">
            <fa-icon [icon]="['fas', accordion.isExpanded(m.id) ? 'chevron-up' : 'chevron-down']" class="mr-2"></fa-icon>
            <span>{{ m.seccion }}</span>
          </span>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul class="nav flex-column nav-pills" *ngIf="m.rutas.length">
            <ng-template ngFor let-r [ngForOf]="m.rutas">
              <li class="nav-item" *ngIf="r.show">
                <a class="nav-link" [routerLink]="r.route" routerLinkActive="active" (click)="optionClick()">
                  <fa-icon [icon]="r.icon"></fa-icon> {{ r.name }}
                </a>
              </li>
            </ng-template>
          </ul>
        </ng-template>
      </ngb-panel>
    </ng-template>
  </ngb-accordion>
</div>
