@import "../../../variables";

:host ::ng-deep {
  #menu {
    .accordion-body {
      padding: 0;
    }
  }
}

.side-nav {
  height: 100%;
  width: 15rem;
  padding-top: 0.6rem;
  background: whitesmoke;
  overflow-y: auto;
  border-left: 2px solid #dee2e6;
  h2 {
    margin: 0;
    padding: .2rem 1rem .2rem .2rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
  }
  a.nav-link {
    color: #212529;
    &:hover, &.active {
      background: $yellow-globo;
      border-radius: unset;
    }
  }
}

.styleEstadisticas {
  background: #343a40;
  color: $yellow-globo;
  padding: 0.15rem 0.5rem 0 0.4rem;
  margin: 1px 1px 0px 1px;
  height: 56px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 499;
}

.icon{
  padding-right: 8px;
}