@import "../../../variables";

.side-nav {
  height: 100%;
  width: 15rem;
  padding-top: 1rem;
  h2 {
    margin: 0;
    padding: .2rem 1rem .2rem .2rem;
    font-size: 1.3rem;
  }
  a.nav-link {
    color: #212529;
    &:hover, &.active {
      background: $yellow-globo;
      border-radius: unset;
    }
  }
}
