@import "../../../variables";

:host ::ng-deep {
  #menu {
    .card-body {
      padding: 0;
    }
  }
}

.side-nav {
  height: 100%;
  width: 15rem;
  padding-top: 0.6rem;
  background: whitesmoke;
  overflow-y: auto;
  border-left: 2px solid #dee2e6;
  h2 {
    margin: 0;
    padding: .2rem 1rem .2rem .2rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
  }
  a.nav-link {
    color: #212529;
    &:hover, &.active {
      background: $yellow-globo;
      border-radius: unset;
    }
  }
}
