<div class="row" [formGroup]="calculosForm">
  <div class="col-lg-6">
    <div class="mb-3">
      <label for="precioCosto" class="form-label">Precio de Costo ($)</label>
      <input type="number" min="0" class="form-control text-end" id="precioCosto" required formControlName="precioCosto"
             [ngClass]="{ 'is-invalid': submitted && f.precioCosto.errors }"
             (focusout)="calculosFieldChange('precioCosto', $event)"
             (keyup.enter)="calculosFieldChange('precioCosto', $event)">
      <div class="invalid-feedback" *ngIf="submitted && f.precioCosto.errors">
        <div *ngIf="f.precioCosto.errors.required">Requerido</div>
        <div *ngIf="f.precioCosto.errors.min">Mínimo {{ f.precioCosto.errors.min.min | currency:'ARS':'symbol':'1.0-2' }}</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="gananciaPorcentaje" class="form-label">Ganancia (%)</label>
      <div class="input-group mb-0">
        <input type="number" min="0" class="form-control text-end" id="gananciaPorcentaje" required formControlName="gananciaPorcentaje"
               [ngClass]="{ 'is-invalid': submitted && f.gananciaPorcentaje.errors }"
               (focusout)="calculosFieldChange('gananciaPorcentaje', $event)"
               (keyup.enter)="calculosFieldChange('gananciaPorcentaje', $event)">
        <span class="input-group-text">$ {{ formatBigForDisplay(calculosPrecio.gananciaNeto) }}</span>
      </div>
      <div class="custom-error-message" *ngIf="submitted && f.gananciaPorcentaje.errors">
        <div *ngIf="f.gananciaPorcentaje.errors.required">Requerido</div>
        <div *ngIf="f.gananciaPorcentaje.errors.min">Mínimo {{ f.gananciaPorcentaje.errors.min.min | number:'1.0-2' }} %</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="precioVentaPublico" class="form-label">Precio Venta Público ($)</label>
      <input type="number" min="0" class="form-control text-end" id="precioVentaPublico" required formControlName="precioVentaPublico"
             [ngClass]="{ 'is-invalid': submitted && f.precioVentaPublico.errors }"
             (focusout)="calculosFieldChange('precioVentaPublico', $event)"
             (keyup.enter)="calculosFieldChange('precioVentaPublico', $event)">
      <div class="invalid-feedback" *ngIf="submitted && f.precioVentaPublico.errors">
        <div *ngIf="f.precioVentaPublico.errors.required">Requerido</div>
        <div *ngIf="f.precioVentaPublico.errors.min">Mínimo {{ f.precioVentaPublico.errors.min.min | currency:'ARS':'symbol':'1.0-2' }}</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="ivaPorcentaje" class="form-label">I.V.A. (%)</label>
      <div class="input-group mb-0">
        <select class="form-select" id="ivaPorcentaje" required formControlName="ivaPorcentaje"
                [ngClass]="{ 'is-invalid': submitted && f.ivaPorcentaje.errors }"
                (change)="calculosFieldChange('ivaPorcentaje', $event)">
          <option *ngFor="let i of ivas" [value]="i">{{ i }}</option>
        </select>
        <span class="input-group-text">$ {{ formatBigForDisplay(calculosPrecio.ivaNeto) }}</span>
      </div>
      <div class="custom-error-message" *ngIf="submitted && f.ivaPorcentaje.errors">
        <div *ngIf="f.ivaPorcentaje.errors.required">Requerido</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="precioLista" class="form-label">Precio de Lista ($)</label>
      <input type="number" min="0" class="form-control text-end" id="precioLista" required formControlName="precioLista"
             [ngClass]="{ 'is-invalid': submitted && f.precioLista.errors }"
             (focusout)="calculosFieldChange('precioLista', $event)"
             (keyup.enter)="calculosFieldChange('precioLista', $event)">
      <div class="invalid-feedback" *ngIf="submitted && f.precioLista.errors">
        <div *ngIf="f.precioLista.errors.required">Requerido</div>
        <div *ngIf="f.precioLista.errors.min">Mínimo {{ f.precioLista.errors.min.min | currency:'ARS':'symbol':'1.0-2' }}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-6">
        <div class="mb-3">
          <label for="porcentajeBonificacionPrecio" class="form-label">(%) Bonif. </label>
          <input type="number" min="0" class="form-control text-end" id="porcentajeBonificacionPrecio" required formControlName="porcentajeBonificacionPrecio"
                 [ngClass]="{ 'is-invalid': submitted && f.porcentajeBonificacionPrecio.errors }"
                 (focusout)="calculosFieldChange('porcentajeBonificacionPrecio', $event)"
                 (keyup.enter)="calculosFieldChange('porcentajeBonificacionPrecio', $event)">
          <div class="invalid-feedback" *ngIf="submitted && f.porcentajeBonificacionPrecio.errors">
            <div *ngIf="f.porcentajeBonificacionPrecio.errors.required">Requerido</div>
            <div *ngIf="f.porcentajeBonificacionPrecio.errors.min">Mínimo {{ f.porcentajeBonificacionPrecio.errors.min.min | number:'1.0-2' }} %</div>
            <div *ngIf="f.porcentajeBonificacionPrecio.errors.max">Máximo {{ f.porcentajeBonificacionPrecio.errors.max.max | number:'1.0-2' }} %</div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3">
          <label for="precioBonificado" class="form-label">Precio Bonif. ($)</label>
          <input type="number" min="0" class="form-control text-end" id="precioBonificado" required formControlName="precioBonificado"
                 [ngClass]="{ 'is-invalid': submitted && f.precioBonificado.errors }"
                 (focusout)="calculosFieldChange('precioBonificado', $event)"
                 (keyup.enter)="calculosFieldChange('precioBonificado', $event)">
          <div class="invalid-feedback" *ngIf="submitted && f.precioBonificado.errors">
            <div *ngIf="f.precioBonificado.errors.required">Requerido</div>
            <div *ngIf="f.precioBonificado.errors.min">Mínimo {{ f.precioBonificado.errors.min.min | currency:'ARS':'symbol':'1.0-2' }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row flex-wrap align-items-center">
      <div class="form-check me-2">
        <input class="form-check-input" type="checkbox" id="oferta" formControlName="oferta" (change)="ofertaChange($event)">
        <label for="oferta" class="form-check-label">Oferta</label>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <label for="porcentajeBonificacionOferta" class="form-label">(%) Oferta</label>
        <input type="number" min="0" class="form-control text-end" id="porcentajeBonificacionOferta" required formControlName="porcentajeBonificacionOferta"
               [ngClass]="{ 'is-invalid': submitted && f.porcentajeBonificacionOferta.errors }"
               (focusout)="calculosFieldChange('porcentajeBonificacionOferta', $event)"
               (keyup.enter)="calculosFieldChange('porcentajeBonificacionOferta', $event)">
        <div class="invalid-feedback" *ngIf="submitted && f.porcentajeBonificacionOferta.errors">
          <div *ngIf="f.porcentajeBonificacionOferta.errors.required">Requerido</div>
          <div *ngIf="f.porcentajeBonificacionOferta.errors.min">Mínimo {{ f.porcentajeBonificacionOferta.errors.min.min  | number:'1.0-2' }} %</div>
          <div *ngIf="f.porcentajeBonificacionOferta.errors.max">Máximo {{ f.porcentajeBonificacionOferta.errors.max.max  | number:'1.0-2' }} %</div>
        </div>
      </div>
      <div class="col-6">
        <label for="precioOferta" class="form-label">Precio Oferta ($)</label>
        <input type="number" min="0" class="form-control text-end" id="precioOferta" required formControlName="precioOferta"
               [ngClass]="{ 'is-invalid': submitted && f.precioOferta.errors }"
               (focusout)="calculosFieldChange('precioOferta', $event)"
               (keyup.enter)="calculosFieldChange('precioOferta', $event)">
        <div class="invalid-feedback" *ngIf="submitted && f.precioOferta.errors">
          <div *ngIf="f.precioOferta.errors.required">Requerido</div>
          <div *ngIf="f.precioOferta.errors.min">Mínimo {{ f.precioOferta.errors.min.min | currency:'ARS':'symbol':'1.0-2' }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
