<div class="app-usuarios">
  <div class="d-flex flex-column flex-md-row align-md-items-center my-3">
    <h1 class="h3 m-0 flex-fill text-truncate"><fa-icon [icon]="['fas', 'users']"></fa-icon> Usuarios</h1>
    <div class="text-end m-0">
      <button class="btn btn-primary ms-2 my-1" (click)="nuevoUsuario()" ngbPopover="Nuevo Usuario" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
      <button type="button" class="btn btn-primary ms-2" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="usuariosFilterCollapse"
              [class.bg-white]="!isFiltersCollapsed"
              ngbPopover="Filtros" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="usuariosFilterCollapse" [ngbCollapse]="isFiltersCollapsed" class="mb-3">
    <ng-template #filterFormFields>
      <div class="row" [formGroup]="filterForm">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="nombre" class="form-label">Usuario, Nombre, Apellido, Email</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" >
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="rol" class="form-label">Rol</label>
            <select class="form-select" id="rol" formControlName="rol">
              <option></option>
              <option *ngFor="let r of roles" [value]="r.value">{{ r.text }}</option>
            </select>
          </div>
        </div>
      </div>
    </ng-template>
    <app-filtros-form [form]="filterForm" [fieldsTemplate]="filterFormFields" (filterBtnClick)="filter()" (resetBtnClick)="reset()"></app-filtros-form>
  </div>
  <app-filtros-aplicados [appliedFilters]="appliedFilters" [totalElements]="totalElements" [searching]="searching"
                         [ordenarPorAplicado]="ordenarPorAplicado" [sentidoAplicado]="sentidoAplicado"></app-filtros-aplicados>
  <div class="usuarios">
    <ng-template #info let-item>
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex flex-row flex-wrap align-items-center">
            <span class="lead fw-bold">{{ item.username }}</span>
            <span class="fst-italic">&nbsp;({{ item.apellido }}{{ (item.apellido ? ', ' : '') + item.nombre }})</span>
          </div>
          <div>
            <span class="fw-bold">Email: </span><span>{{ item.email }}</span>
          </div>
        </div>
        <div class="col-md-6 text-md-center">
          <span class="fw-bold">Rol: </span>
          <span>{{ item.roles }}</span>
        </div>
      </div>
    </ng-template>
    <ng-template #actions let-item>
      <ul class="list-inline mb-0 text-center d-inline-block">
        <li class="list-inline-item">
          <button class="btn btn-primary fake-cursor" ngbPopover="Editar" placement="left" triggers="mouseenter:mouseleave" (click)="editarUsuario(item)">
            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
          </button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary fake-cursor" ngbPopover="Eliminar" placement="left" triggers="mouseenter:mouseleave" (click)="eliminarUsuario(item)">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </li>
      </ul>
    </ng-template>
    <app-lista [size]="size" [items]="items" [infoTemplate]="info" [actionsTemplate]="actions"
               [page]="page" [totalPages]="totalPages" [totalElements]="totalElements" (pageChange)="loadPage($event)"></app-lista>
  </div>
</div>
