@import '../../../variables';

:host ::ng-deep {
    .accordion-item {
        background-color: whitesmoke;
    }

    .accordion-header {
        color: #536070;
        font-weight: bold;
        font-size: 18px;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

    .ops-accordion .accordion-button {
        color: #000000 !important;
        font-weight: bold;
        font-size: 16px;
    }

    .accordion-body {
        padding: 0;
    }
}

@media (min-width: 1024px) {
    .icon {
        font-size: 1.6rem;
        color: #000000;
        font-weight: bold;
        padding-left: 3px;
    }

    h3 {
        font-size: 1.6rem;
        color: #000000;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .icon {
        font-size: 1.5rem;
        color: #000000;
        font-weight: bold;
        padding-left: 3px;
    }

    h3 {
        font-size: 1.5rem;
        color: #000000;
        margin: 0;
    }
}

@media (max-width: 767px) {
    .icon {
        font-size: 1.3rem;
        color: #000000;
        font-weight: bold;
        padding-left: 3px;
    }

    h3 {
        font-size: 1.3rem;
        color: #000000;
        margin: 0;
    }
}


span {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.chevronStyle {
    color: #929aa3;
}