@import '../../../variables';

:host ::ng-deep {
    .accordion-item {
        background-color: whitesmoke;
    }

    .accordion-header {
        color: #536070;
        font-weight: bold;
        font-size: 18px;  
    }

    .accordion-button:focus {
        box-shadow: none;
    }

    .ops-accordion .accordion-button {
            color: #000000 !important;
            font-weight: bold;
            font-size: 16px;
    }
}

.conteiner {
    margin: 60px;
}

span {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

h4 {
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    padding: 10px;
}