<section class="app-pedido">
	<div class="d-flex flex-row align-items-center my-3">
		<h1 class="h3 m-0 flex-fill text-truncate"><fa-icon [icon]="['fas', 'square-poll-vertical']"></fa-icon>
			Dashboard</h1>
	</div>
	<ngb-accordion class="ops-accordion" [closeOthers]="false" #acc="ngbAccordion" activeIds="ngb-purchase-2">
		<ngb-panel id="ngb-purchase-1" (shown)="loadPurchaseData()">
			<ng-template ngbPanelTitle>
				<div class="d-flex align-items-center justify-content-between w-100">
					<fa-icon *ngIf="acc.isExpanded('ngb-purchase-1')" [icon]="['fas', 'chevron-up']"
					class="chevronStyle me-2"></fa-icon>
					<fa-icon *ngIf="!acc.isExpanded('ngb-purchase-1')" [icon]="['fas', 'chevron-down']"
					class="chevronStyle me-2"></fa-icon>
					<span class="me-auto">Compras</span>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<div *ngIf="loadingPurchaseData">
					<fa-icon class="spinner-primary d-flex align-items-center justify-content-center"
						[icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
				</div>
				<div *ngIf="!loadingPurchaseData" class="container-fluid">
					<div class="row p-0 gap-4 mt-2">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-statistics-year [title]="'Compras por año'"
								[chartType]="'compras'"></app-chart-statistics-year>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-statistics-year-supplier [title]="'Compras por año por proveedor'"
								[dataType]="'compras'"></app-chart-statistics-year-supplier>
						</div>
					</div>
					<div class="row gap-4 p-0 mt-4">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-statistics-month [title]="'Compras por mes'"
								[chartType]="'compras'"></app-chart-statistics-month>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-statistics-month-supplier [title]="'Compras por mes por proveedor'"
								[dataType]="'compras'"></app-chart-statistics-month-supplier>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
		<ngb-panel id="ngb-purchase-2" (shown)="loadSalesData()">
			<ng-template ngbPanelTitle>
				<div class="d-flex align-items-center justify-content-between w-100">
					<fa-icon *ngIf="acc.isExpanded('ngb-purchase-2')" [icon]="['fas', 'chevron-up']"
						class="chevronStyle me-2"></fa-icon>
					<fa-icon *ngIf="!acc.isExpanded('ngb-purchase-2')" [icon]="['fas', 'chevron-down']"
						class="chevronStyle me-2"></fa-icon>
					<span class="me-auto">Ventas</span>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<div *ngIf="loadingSalesData">
					<fa-icon class="spinner-primary d-flex align-items-center justify-content-center"
						[icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
				</div>
				<div *ngIf="!loadingSalesData" class="container-fluid">
					<div class="row p-0 gap-4 mt-2">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-statistics-year [title]="'Ventas por año'"
								[chartType]="'ventas'"></app-chart-statistics-year>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-statistics-year-supplier [title]="'Ventas por año por proveedor'"
								[dataType]="'ventas'"></app-chart-statistics-year-supplier>
						</div>
					</div>
					<div class="row gap-4 p-0 mt-4">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-statistics-month [title]="'Ventas por mes'"
								[chartType]="'ventas'"></app-chart-statistics-month>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-statistics-month-supplier [title]="'Ventas por mes por proveedor'"
								[dataType]="'ventas'"></app-chart-statistics-month-supplier>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
</section>