@import '../../../variables';

:host ::ng-deep {
    .accordion-item {
        background-color: whitesmoke;
    }

    .accordion-header {
        color: #536070;
        font-weight: bold;
        font-size: 18px;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

    .ops-accordion .accordion-button {
        color: #000000 !important;
        font-weight: bold;
        font-size: 16px;
    }

    .accordion-body {
        padding: 0;
    }
}

span {
    color: #000000;
    font-weight: bold;
    font-size: 16px;
}

.chevronStyle {
    color: #929aa3;
}