<section>
	<div class="d-flex flex-row align-items-center">
		<h3><fa-icon [icon]="['fas', 'chart-line']" class="icon"></fa-icon> Estadisticas</h3>
	</div>
	<ngb-accordion class="ops-accordion custom-accordion" [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-purchase-0">
		<ngb-panel>
			<ng-template ngbPanelTitle>
				<div class="d-flex align-items-center justify-content-between w-100">
				<span class="me-auto">Compras</span>
				<fa-icon [icon]="['fas', acc.isExpanded('ngb-purchase-0') ? 'chevron-down' : 'chevron-up']" class="me-2"></fa-icon>
			</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<div class="container-fluid">
					<div class="row p-0 gap-3 mt-2">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-purchase-statistics-year></app-chart-purchase-statistics-year>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-purchase-statistics-year-supplier></app-chart-purchase-statistics-year-supplier>
						</div>
					</div>
					<div class="row gap-3 p-0 mt-4">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-purchase-statistics-month></app-chart-purchase-statistics-month>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-purchase-statistics-month-supplier></app-chart-purchase-statistics-month-supplier>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
</section>
