<div class="app-transportista">
  <div class="d-flex flex-column flex-md-row align-md-items-center my-3">
    <h1 class="h3 m-0 flex-fill text-truncate">
      <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
         (click)="volverAlListado()">
        <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
      </a>
      <fa-icon [icon]="['fas', 'truck-moving']"></fa-icon> Transportista
    </h1>
  </div>
  <form (ngSubmit)="submit()" [formGroup]="form" class="card card-body bg-light mt-2" *ngIf="form">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="nombre" id="nombre"
             [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
      <div class="invalid-feedback" *ngIf="submitted && f.nombre.errors">
        <div *ngIf="f.nombre.errors.required">Requerido</div>
      </div>
    </div>
    <app-ubicacion-form-field id="ubicacion" label="Ubicación" formControlName="ubicacion"></app-ubicacion-form-field>
    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono</label>
      <input type="url" class="form-control" id="telefono" formControlName="telefono">
    </div>
    <div class="mb-3">
      <label for="web" class="form-label">Página Web</label>
      <input type="url" class="form-control" id="web" formControlName="web">
    </div>
    <div class="text-end">
      <button class="btn btn-primary" type="submit">
        <fa-icon [icon]="['fas', 'check']"></fa-icon> Guardar
      </button>
    </div>
  </form>
</div>
