<div class="modal-header">
  <h4 class="modal-title">Nuevo Gasto</h4>
</div>
<div class="modal-body">
  <app-gasto-form (gastoSaved)="onGastoSaved($event)" #gastoForm></app-gasto-form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">
    <fa-icon [icon]="['fas', 'times']"></fa-icon> Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="submit()">
    <fa-icon [icon]="['fas', 'check']"></fa-icon> Aceptar
  </button>
</div>
