<section class="container">
    <span>{{ title }}</span>
    <div *ngIf="loadingData">
        <fa-icon class="spinner-primary d-flex align-items-center justify-content-center mt-2"
            [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'">
        </fa-icon>
    </div>
    <div *ngIf="!loadingData && barChartData.datasets[0]?.data == 0" class="alert alert-secondary mt-2 text-center w-fit">
        No hay información disponible para este período.
    </div>
    <div class="canvasStyle" *ngIf="!loadingData && barChartData.datasets[0]?.data.length > 0">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="'bar'"></canvas>
    </div>
</section>
