<div class="app-ver-gasto my-3">
  <div *ngIf="gasto">
    <div class="d-flex flex-column flex-md-row align-items-md-center">
      <h1 class="h3 flex-fill text-truncate">
        <a class="btn fake-cursor" placement="right" ngbPopover="Volver atras" triggers="mouseenter:mouseleave"
           (click)="volverAtras()">
          <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
        </a>
        <fa-icon [icon]="['fas', 'hand-holding-usd']" [rotate]="180"></fa-icon>
        Gasto
      </h1>
    </div>
    <table class="table table-bordered table-sm">
      <caption class="sr-only">Datos del Gasto</caption>
      <tbody>
      <tr><th scope="row" class="table-dark text-nowrap">Nº</th><td class="w-100">{{ gasto.nroGasto }}</td></tr>
      <tr><th scope="row" class="table-dark text-nowrap">Fecha</th><td>{{ gasto.fecha | date:'dd/MM/yyyy HH:mm' }}</td></tr>
      <tr><th scope="row" class="table-dark text-nowrap">Concepto</th><td>{{ gasto.concepto }}</td></tr>
      <tr><th scope="row" class="table-dark text-nowrap">Monto</th><td>{{ gasto.monto | currency:'ARS':'symbol':'1.0-2' }}</td></tr>
      <tr><th scope="row" class="table-dark text-nowrap">Forma de Pago</th><td>{{ gasto.nombreFormaDePago }}</td></tr>
      <tr><th scope="row" class="table-dark text-nowrap">Usuario</th><td>{{ gasto.nombreUsuario }}</td></tr>
      </tbody>
    </table>
  </div>
</div>
