.container {
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.canvasStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 40vh;
    max-width: 100% !important;
}

canvas {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}

span {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
}

.styleSelect {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonStyle1 {
    border: #ced4da 1px solid;
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
    height: 31px;
    width: 70px;
    background-color: #f0f0f0;
}

.form-select-sm {
    border-radius: 0 0.25rem 0.25rem 0;
    height: 31px;
}