<div class="modal-header" *ngIf="title">
  {{title}}
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="form">
    <div class="mb-3">
      <label for="value" class="form-label">{{label}}</label>
      <select class="form-select" id="value" formControlName="value">
        <option *ngFor="let o of options" [value]="o.value">{{ o.text }}</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">
    <fa-icon [icon]="['fas', 'times']"></fa-icon> Cerrar
  </button>
  <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="form.invalid">
    <fa-icon [icon]="['fas', 'check']"></fa-icon> Seleccionar
  </button>
</div>
