<table class="table table-bordered table-sm" *ngIf="proveedor">
  <tbody>
    <tr>
      <th scope="row" class="w-25 table-dark">Nombre</th>
      <td>{{ proveedor.razonSocial }}</td>
    </tr>
    <tr *ngIf="proveedor.idFiscal">
      <th scope="row" class="table-dark">CUIT o DNI</th>
      <td>{{ proveedor.idFiscal }}</td>
    </tr>
    <tr>
      <th scope="row" class="table-dark">Categoría IVA</th>
      <td>{{ helper.categoriaIVALabel(proveedor.categoriaIVA) }}</td>
    </tr>
    <tr *ngIf="proveedor.email">
      <th scope="row" class="table-dark">Email</th>
      <td>{{ proveedor.email }}</td>
    </tr>
    <tr *ngIf="proveedor.ubicacion">
      <th scope="row" class="table-dark">Ubicación</th>
      <td>{{ helper.formatUbicacion(proveedor.ubicacion) }}</td>
    </tr>
    <tr *ngIf="proveedor.telPrimario">
      <th scope="row" class="table-dark">Teléfono #1</th>
      <td>{{ proveedor.telPrimario }}</td>
    </tr>
    <tr *ngIf="proveedor.telSecundario">
      <th scope="row" class="table-dark">Teléfono #2</th>
      <td>{{ proveedor.telSecundario }}</td>
    </tr>
    <tr *ngIf="proveedor.web">
      <th scope="row" class="table-dark">Web</th>
      <td>{{ proveedor.web }}</td>
    </tr>
  </tbody>
</table>