@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.app-traspaso {
  margin: 0;
  .traspaso {
    .item-info {
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: 70%;
      }
    }
    .item-cantidad {
      width: 100%;
      @include media-breakpoint-up(sm) {
        width: 30%;
      }
    }
    .codigo {
      font-size: 12px;
    }
    .descripcion {
      font-weight: bold;
    }
  }
}
