<div class="app-filtros-aplicados alert alert-globo">
  <div *ngIf="appliedFilters.length">
    Filtros aplicados:
    <ul class="pl-3">
      <li *ngFor="let f of appliedFilters">
        {{ f.label ? f.label + ':' : '' }}
        <app-mensaje-asicronico *ngIf="f.asyncFn" [asyncFn]="f.asyncFn"></app-mensaje-asicronico>
        <span *ngIf="!f.asyncFn">{{ f.value }}</span>
      </li>
    </ul>
  </div>
  <strong><em>{{ totalElements }} resultado{{ totalElements == 1 ? '': 's' }}</em></strong>
  <span *ngIf="ordenarPorAplicado"> ordenado{{ totalElements == 1 ? '': 's' }} por {{ ordenarPorAplicado }}</span>
  <span *ngIf="sentidoAplicado"> con sentido {{ sentidoAplicado }}</span>
</div>
