<div class="modal-header p-2 flex-column">
  <div class="input-group">
    <label class="form-label sr-only" for="searchTerm"></label>
    <input [(ngModel)]="searchTerm" autocomplete="off" type="search" class="form-control" id="searchTerm" [placeholder]="searchInputPlaceholder"
           (keyup.enter)="search()" [readOnly]="clearLoading || loading">
    <button tabindex="-1" class="btn btn-primary" type="button" (click)="search()" [disabled]="clearLoading || loading">
      <fa-icon [icon]="['fas', 'search']"></fa-icon>
    </button>
  </div>
</div>
<div class="modal-body d-flex flex-column p-2">
  <div *ngIf="clearLoading" class="text-center mt-3">
    <fa-icon class="spinner-primary" [icon]="['fas', 'circle-notch']" [spin]="true" size="3x"></fa-icon>
  </div>
  <div class="flex-fill mt-2" *ngIf="!clearLoading && items.length">
    <ng-template #itemTemplate let-item>
      <div class="flex-fill d-flex flex-column proveedor">
        <span class="me-2 numero">#{{ item.nroProveedor }}</span>
        <span class="me-2" *ngIf="item.idFiscal">CUIT {{ item.idFiscal }}</span>
        <span class="me-2 nombre"><strong>{{ item.razonSocial }}</strong></span>
      </div>
    </ng-template>
    <app-selectable-list #selectableList [items]="items" [itemTemplate]="itemTemplate"
                         (selectedItemChange)="setSelectedItem($event)" (selectedWithEnter)="selectWithEnter($event)" (lastElementKeyDown)="loadMore()"></app-selectable-list>
    <div class="text-center pt-2">
      <fa-icon class="spinner-primary" *ngIf="loading" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
      <button type="button" class="btn btn-primary" (click)="loadMore()" *ngIf="!loading && (page + 1) < totalPages">Mas resultados</button>
    </div>
  </div>
</div>
<div class="modal-footer p-2">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()" [disabled]="loading || clearLoading">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>&nbsp;Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="selectItem()" [disabled]="!selectedItem || loading || clearLoading">
    <fa-icon [icon]="['fas', 'check']"></fa-icon>&nbsp;Seleccionar
  </button>
</div>
