@import "../../../variables";

.proveedores {
  .proveedor {
    &.selected {
      .info {
        background: $primary-color;
      }
    }

    .form-check-input {
      width: 0;
      height: 0;
      opacity: 0;
    }

    .numero {
      font-size: 12px;
    }
  }
}
