.app-cuentas-corrientes-cliente {
  .nombre {
    font-size: 1.3em;
    //color: #616161;
    //color: #1e4784;
    color: #88410e;
  }
  .saldo {
    background: #eaffe6;
    color: #084c08;
    font-weight: 700;
    padding: .15rem .5rem 0 .4rem;
    margin-bottom: .2rem;
    border-radius: .25rem;
    border: .05rem solid #084c08;
    border-left: .3rem solid #084c08;
    &.negativo {
      color: #dc3545;
      border: .05rem solid #dc3545;
      border-left: .3rem solid #dc3545;
    }
  }
}

