<div class="app-cuentas-corrientes-cliente">
  <div class="d-flex flex-column flex-md-row align-md-items-center my-3">
    <h1 class="h3 m-0 flex-fill text-truncate"><fa-icon [icon]="['fas', 'portrait']"></fa-icon> Clientes</h1>
    <div class="text-right m-0">
      <button class="btn btn-primary ml-2 my-1" routerLink="/clientes/nuevo" ngbPopover="Nuevo Cliente" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
      <button type="button" class="btn btn-primary ml-2" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="cccFilterCollapse"
              [class.bg-white]="!isFiltersCollapsed"
              ngbPopover="Filtros" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="cccFilterCollapse" [ngbCollapse]="isFiltersCollapsed" class="mb-3">
    <ng-template #filterFormFields>
      <div class="row" [formGroup]="filterForm">
        <div class="col-md-6">
          <div class="form-group">
            <label for="nroONom">Nº Cliente/Nombre</label>
            <input type="text" class="form-control" id="nroONom" formControlName="nroONom">
          </div>
          <app-usuario-filtro formControlName="idViajante" [roles]="[rol.VIAJANTE]" [label]="'Viajante'"></app-usuario-filtro>
          <div class="form-group">
            <label for="idProvincia">Provincia</label>
            <select class="form-control" id="idProvincia" formControlName="idProvincia">
              <option value=""></option>
              <option [value]="p.idProvincia" *ngFor="let p of provincias">{{ p.nombre }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="idLocalidad">Localidad</label>
            <select class="form-control" id="idLocalidad" formControlName="idLocalidad">
              <option value=""></option>
              <option [value]="l.idLocalidad" *ngFor="let l of localidades">{{ l.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-body bg-light mb-3">
            <app-filtro-ordenamiento id="filtroOrdenamientoOrdenarPorCCC" [values]="ordenarPorOptionsCCC" [label]="'Ordenar Por'" formControlName="ordenarPor" #ordernarPorP></app-filtro-ordenamiento>
            <app-filtro-ordenamiento id="filtroOrdenamientoSentidoCCC" [values]="sentidoOptionsCCC" [label]="'Sentido'" formControlName="sentido" #sentidoP></app-filtro-ordenamiento>
          </div>
        </div>
      </div>
    </ng-template>
    <app-filtros-form [form]="filterForm" [fieldsTemplate]="filterFormFields" (filterBtnClick)="filter()" (resetBtnClick)="reset()"></app-filtros-form>
  </div>
  <app-filtros-aplicados [appliedFilters]="appliedFilters" [totalElements]="totalElements"
                         [ordenarPorAplicado]="ordenarPorAplicado" [sentidoAplicado]="sentidoAplicado"></app-filtros-aplicados>
  <div class="ccc my-2 bg-white">
    <ng-template #info let-item>
      <div class="row">
        <div class="col-md-6">
          <span class="badge badge-secondary ml-2 mb-2 px-2 py-1">
            #{{ item.cliente.nroCliente }}
          </span>
          <span class="badge badge-dark ml-2 mb-2 px-2 py-1" *ngIf="item.cliente.idFiscal">
            CUIT o CUIL: {{ item.cliente.idFiscal }}
          </span>
          <div class="ml-2 mb-2 font-italic font-weight-bold nombre">
            {{ item.cliente.nombreFiscal }} <span *ngIf="item.cliente.nombreFantasia">({{ item.cliente.nombreFantasia }})</span>
          </div>
          <div class="text-nowrap ml-2">
            <span class="font-weight-bold">Fecha Alta: </span>{{ item.cliente.fechaAlta | date:'dd/MM/yyyy HH:mm'  }}
          </div>
          <div class="ml-2" *ngIf="!!(item.cliente.detalleUbicacionDeEnvio || item.cliente.detalleUbicacionDeFacturacion)">
            <span class="font-weight-bold">Ubicación: </span>{{ item.cliente.detalleUbicacionDeEnvio || item.cliente.detalleUbicacionDeFacturacion  }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex flex-row flex-wrap">
            <span class="badge badge-pill badge-light border border-secondary ml-2 mb-2 px-2 py-1" *ngIf="item.cliente.puedeComprarAPlazo">
              Compra a Plazo
            </span>
            <span class="badge badge-pill badge-light border border-secondary ml-2 mb-2 px-2 py-1">
              Compra Mínima: {{ item.cliente.montoCompraMinima | currency:'ARS':'symbol':'1.0-2' }}
            </span>
          </div>
          <div class="d-flex flex-row flex-wrap">
            <span class="ml-2 text-nowrap">
              <span class="font-weight-bold">Saldo C/C: </span>
              <span class="saldo" [class.negativo]="item.saldo < 0">{{ item.saldo | currency:'ARS':'symbol':'1.0-2'}}</span>
            </span>
            <span class="ml-2 text-nowrap" *ngIf="item.fechaUltimoMovimiento">
              <span class="font-weight-bold">Ult. Mov. C/C:</span> {{ item.fechaUltimoMovimiento | date:'dd/MM/yyyy HH:mm' }}
            </span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #actions let-item>
      <ul class="list-inline mb-0 text-center d-inline-block">
        <li class="list-inline-item">
          <button class="btn btn-primary fake-cursor" ngbPopover="Editar" placement="left" triggers="mouseenter:mouseleave" (click)="editarCliente(item.cliente)">
            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
          </button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary fake-cursor" ngbPopover="Eliminar" placement="left" triggers="mouseenter:mouseleave" (click)="eliminarCliente(item.cliente)">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </li>
      </ul>
    </ng-template>
    <app-lista [items]="items" [infoTemplate]="info" [actionsTemplate]="actions"
               [page]="page" [totalPages]="totalPages" [totalElements]="totalElements" (pageChange)="loadPage($event)"></app-lista>
  </div>
</div>
