<div class="app-localidad" *ngIf="localidad">
  <div class="d-flex flex-row align-items-center my-3">
    <h1 class="h3 m-0 flex-fill text-truncate">
      <a class="btn fake-cursor" placement="right" ngbPopover="Volver atras" triggers="mouseenter:mouseleave"
        (click)="volverAlListado()">
        <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
      </a>
      <fa-icon [icon]="['fas', 'map-marked-alt']"></fa-icon> Localidad: {{ localidad.nombre }}
    </h1>
    <div class="text-end m-0"></div>
  </div>
  <form [formGroup]="form" (submit)="submit()" *ngIf="form && localidad" class="p-3 bg-white border rounded">
    <div class="mb-3">
      <label for="codigoPostal" class="form-label">Código postal</label>
      <input class="form-control" type="text" id="codigoPostal" formControlName="codigoPostal">
    </div>
    <table class="table table-bordered table-sm" *ngIf="localidad">
      <caption class="sr-only">Datos de la Localidad</caption>
      <tbody>
        <tr>
          <th scope="row" class="w-25 table-dark">Nombre</th>
          <td>{{ localidad.nombre }}</td>
        </tr>
        <tr>
          <th scope="row" class="w-25 table-dark">Provincia</th>
          <td>{{ localidad.nombreProvincia }}</td>
        </tr>
      </tbody>
    </table>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="envioGratuito" formControlName="envioGratuito">
      <label for="envioGratuito" class="form-check-label">Envío Gratuito</label>
    </div>
    <div class="mb-3">
      <label for="costoEnvio" class="form-label">Costo de envío</label>
      <input class="form-control" type="number" id="costoEnvio" formControlName="costoEnvio"
          [ngClass]="{ 'is-invalid': submitted && f.costoEnvio.errors }">
        <div class="invalid-feedback" *ngIf="submitted && f.costoEnvio.errors">
          <div *ngIf="f.costoEnvio.errors.required">Requerido</div>
          <div *ngIf="f.costoEnvio.errors.min">Mínimo {{ f.costoEnvio.errors.min.min | currency:'ARS':'symbol':'1.0-2' }}</div>
        </div>
    </div>
    <div class="text-end">
      <button type="submit" class="btn btn-primary">
        Guardar
      </button>
    </div>
  </form>
</div>
