<div class="app-productos">
  <div class="d-flex flex-md-row align-items-center my-3">
    <h1 class="h3 m-0 flex-fill text-truncate"><fa-icon [icon]="['fas', 'box-open']"></fa-icon> Productos</h1>
    <div class="text-end text-nowrap m-0">
      <button class="btn btn-primary ms-2 my-1" routerLink="/productos/nuevo" ngbPopover="Nuevo Producto" triggers="mouseenter:mouseleave" placement="left" *ngIf="hasRoleToCreate">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
      <button type="button" class="btn btn-primary ms-2" (click)="isBatchActionsBoxCollapsed = !isBatchActionsBoxCollapsed"
              [attr.aria-expanded]="!isBatchActionsBoxCollapsed" aria-controls="productosBatchActionsBoxCollapse"
              [class.bg-white]="!isBatchActionsBoxCollapsed"
              ngbPopover="Selección" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'check-square']"></fa-icon>&nbsp;<span class="fw-bold">{{ batchActionsService.count(baKey) }}</span>
      </button>
      <button class="btn btn-primary ms-2" (click)="descargarReporteAlEmail()" placement="left" ngbPopover="Descargar Reporte" triggers="mouseenter:mouseleave">
        <fa-icon [icon]="['fas', 'file-download']"></fa-icon>
      </button>
      <button type="button" class="btn btn-primary ms-2" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="productosFiltersCollapse"
              [class.bg-white]="!isFiltersCollapsed"
              ngbPopover="Filtros" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="productosFiltersCollapse" #collapse="ngbCollapse" [(ngbCollapse)]="isFiltersCollapsed" class="mb-3">
    <ng-template #filterFormFields>
      <div class="row" [formGroup]="filterForm">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="codODes" class="form-label">Código/Descripción</label>
            <input type="text" class="form-control" id="codODes" formControlName="codODes">
          </div>
          <div class="mb-3">
            <label for="idRubro" class="form-label">Rubro</label>
            <select class="form-select" id="idRubro" formControlName="idRubro">
              <option></option>
              <option *ngFor="let r of rubros" [value]="r.idRubro">{{ r.nombre }}</option>
            </select>
          </div>
          <app-proveedor-filtro formControlName="idProveedor"></app-proveedor-filtro>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <div class="btn-group d-flex" role="group">
              <input type="radio" class="btn-check" [value]="null" id="visibilidad-todos" autocomplete="off" formControlName="visibilidad">
              <label class="btn btn-outline-secondary" for="visibilidad-todos">Todos</label>
              <ng-template ngFor let-v [ngForOf]="visibilidades" let-i="index">
                <input type="radio" class="btn-check" [value]="v" [id]="'visibilidad-' + i.toString()" autocomplete="off" formControlName="visibilidad">
                <label class="btn btn-outline-secondary" [for]="'visibilidad-' + i.toString()">{{ v }}</label>
              </ng-template>
            </div>
          </div>
          <div class="mb-3 text-primary">
            <div class="btn-group d-flex" role="group">
              <input type="radio" class="btn-check" [value]="false" id="oferta-false" autocomplete="off" formControlName="oferta">
              <label class="btn btn-outline-secondary" for="oferta-false">Todos</label>
              <input type="radio" class="btn-check" [value]="true" id="oferta-true" autocomplete="off" formControlName="oferta">
              <label class="btn btn-outline-secondary" for="oferta-true">Solo Ofertas</label>
            </div>
          </div>
          <div class="mb-3">
            <div class="btn-group d-flex" role="group">
              <input type="radio" class="btn-check" [value]="false" id="listar-solo-para-catalogo-false" autocomplete="off" formControlName="listarSoloParaCatalogo">
              <label class="btn btn-outline-secondary" for="listar-solo-para-catalogo-false">Todos</label>
              <input type="radio" class="btn-check" [value]="true" id="listar-solo-para-catalogo-true" autocomplete="off" formControlName="listarSoloParaCatalogo">
              <label class="btn btn-outline-secondary" for="listar-solo-para-catalogo-true">Solo Catálogo</label>
            </div>
          </div>
          <div class="card card-body bg-light mb-3">
            <app-filtro-ordenamiento class="mb-3" id="filtroOrdenamientoOrdenarPorP" [values]="ordenArray" [label]="'Ordenar Por'" formControlName="ordenarPor" #ordernarPorP class="mb-3"></app-filtro-ordenamiento>
            <app-filtro-ordenamiento id="filtroOrdenamientoSentidoP" [values]="sentidoArray" [label]="'Sentido'" formControlName="sentido" #sentidoP></app-filtro-ordenamiento>
          </div>
        </div>
      </div>
    </ng-template>

    <app-filtros-form [form]="filterForm" [fieldsTemplate]="filterFormFields" (filterBtnClick)="filter()" (resetBtnClick)="reset()"></app-filtros-form>
  </div>
  <app-filtros-aplicados [appliedFilters]="appliedFilters" [totalElements]="totalElements" [searching]="searching"
                         [ordenarPorAplicado]="ordenarPorAplicado" [sentidoAplicado]="sentidoAplicado"></app-filtros-aplicados>
  <div class="productosBatchActionsBoxCollapse" [ngbCollapse]="isBatchActionsBoxCollapsed">
    <app-batch-actions-box [batchActionKey]="baKey" [actions]="baActions"
                           (emptySelection)="isBatchActionsBoxCollapsed = !isBatchActionsBoxCollapsed" ></app-batch-actions-box>
  </div>
  <div class="productos my-2 bg-white">
    <ng-template #actions let-item>
      <div ngbDropdown class="actions d-none d-md-inline-block" container="body" placement="left-top">
        <button type="button" class="btn btn-primary" ngbDropdownToggle>
          <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
          <span class="visually-hidden">Acciones</span>
        </button>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="verProducto(item)">
            <fa-icon [icon]="['far', 'eye']"></fa-icon> Ver Detalle
          </button>
          <button ngbDropdownItem (click)="editarProducto(item)" *ngIf="hasRoleToEdit">
            <fa-icon [icon]="['fas', 'pen']"></fa-icon> Editar
          </button>
          <button ngbDropdownItem (click)="eliminarProducto(item)" *ngIf="hasRoleToDelete">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon> Eliminar
          </button>
        </div>
      </div>
      <ul class="list-inline mb-0 d-md-none">
        <li class="list-inline-item m-0 p-1">
          <button (click)="verProducto(item)" class="btn btn-primary">
            <fa-icon [icon]="['far', 'eye']"></fa-icon>
          </button>
        </li>
        <li class="list-inline-item m-0 p-1">
          <button (click)="editarProducto(item)" class="btn btn-primary" *ngIf="hasRoleToEdit">
            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
          </button>
        </li>
        <li class="list-inline-item m-0 p-1">
          <button (click)="eliminarProducto(item)" class="btn btn-primary" *ngIf="hasRoleToDelete">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </li>
      </ul>
    </ng-template>

    <ng-template #info let-item let-config="config">
      <td [ngClass]="{ 'd-none': config['publico'].hidden }" [attr.data-label]="config['publico'].name" class="text-md-center">
        <fa-icon [icon]="['fas', item.publico ? 'check' : 'times']" [ngClass]="{ 'me-1 me-md-0': !item.publico }"></fa-icon>
      </td>
      <td [ngClass]="{ 'd-none': config['oferta'].hidden}" [attr.data-label]="config['oferta'].name" class="text-md-center">
        <fa-icon [icon]="['fas', item.oferta ? 'check' : 'times']" [ngClass]="{ 'me-1 me-md-0': !item.oferta }"></fa-icon>
      </td>
      <td [attr.data-label]="config['codigo'].name">{{ item.codigo }}</td>
      <td class="w-75" [attr.data-label]="config['descripcion'].name">{{ item.descripcion }}</td>
      <td [ngClass]="{ 'd-none': config['cantidadTotalEnSucursales'].hidden}" [attr.data-label]="config['cantidadTotalEnSucursales'].name">
        {{ productosService.getCantidad(item) | number:'1.0-2' }} {{ item.nombreMedida }}
      </td>
      <td [ngClass]="{ 'd-none': config['cantidadTotalEnSucursalesDisponible'].hidden}" [attr.data-label]="config['cantidadTotalEnSucursalesDisponible'].name">
        {{ productosService.getCantOtrasSucursales(item) | number:'1.0-2' }} {{ item.nombreMedida }}
      </td>
      <td [ngClass]="{ 'd-none': config['cantidadReservada'].hidden}" [attr.data-label]="config['cantidadReservada'].name">{{ item.cantidadReservada | number:'1.0-2' }} {{ item.nombreMedida }}</td>
      <td [ngClass]="{ 'd-none': config['cantMinima'].hidden}" [attr.data-label]="config['cantMinima'].name">{{ item.cantMinima | number:'1.0-2' }} {{ item.nombreMedida }}</td>
      <td [ngClass]="{ 'd-none': config['precioCosto'].hidden}" [attr.data-label]="config['precioCosto'].name">{{ item.precioCosto | currency:'ARS':'symbol':'1.0-2' }}</td>
      <td [ngClass]="{ 'd-none': config['gananciaPorcentaje'].hidden}" [attr.data-label]="config['gananciaPorcentaje'].name">{{ item.gananciaPorcentaje | number:'1.0-2' }} %</td>
      <td [ngClass]="{ 'd-none': config['gananciaNeto'].hidden}" [attr.data-label]="config['gananciaNeto'].name">{{ item.gananciaNeto | currency:'ARS':'symbol':'1.0-2' }}</td>
      <td [ngClass]="{ 'd-none': config['precioVentaPublico'].hidden}" [attr.data-label]="config['precioVentaPublico'].name">{{ item.precioVentaPublico | currency:'ARS':'symbol':'1.0-2' }}</td>
      <td [ngClass]="{ 'd-none': config['ivaPorcentaje'].hidden}" [attr.data-label]="config['ivaPorcentaje'].name">{{ item.ivaPorcentaje | number:'1.0-2' }} %</td>
      <td [ngClass]="{ 'd-none': config['ivaNeto'].hidden}" [attr.data-label]="config['ivaNeto'].name">{{ item.ivaNeto | currency:'ARS':'symbol':'1.0-2' }}</td>
      <td [ngClass]="{ 'd-none': config['precioLista'].hidden}" [attr.data-label]="config['precioLista'].name">{{ item.precioLista | currency:'ARS':'symbol':'1.0-2' }}</td>
      <td [ngClass]="{ 'd-none': config['porcentajeBonificacionOferta'].hidden}" [attr.data-label]="config['porcentajeBonificacionOferta'].name">{{ item.porcentajeBonificacionOferta | number:'1.0-2' }} %</td>
      <td [ngClass]="{ 'd-none': config['porcentajeBonificacionPrecio'].hidden}" [attr.data-label]="config['porcentajeBonificacionPrecio'].name">{{ item.porcentajeBonificacionPrecio | number:'1.0-2' }} %</td>
      <td [ngClass]="{ 'd-none': config['precioBonificado'].hidden}" [attr.data-label]="config['precioBonificado'].name">{{ item.precioBonificado | currency:'ARS':'symbol':'1.0-2' }}</td>
      <td [ngClass]="{ 'd-none': config['nombreRubro'].hidden}" [attr.data-label]="config['nombreRubro'].name">{{ item.nombreRubro }}</td>
      <td [ngClass]="{ 'd-none': config['fechaUltimaModificacion'].hidden}" [attr.data-label]="config['fechaUltimaModificacion'].name" class="text-nowrap">{{ item.fechaUltimaModificacion | date:'dd/MM/yyyy HH:mm' }}</td>
      <td [ngClass]="{ 'd-none': config['razonSocialProveedor'].hidden}" [attr.data-label]="config['razonSocialProveedor'].name">{{ item.razonSocialProveedor }}</td>
      <td [ngClass]="{ 'd-none': config['fechaAlta'].hidden}" [attr.data-label]="config['fechaAlta'].name" class="text-nowrap">{{ item.fechaAlta | date:'dd/MM/yyyy HH:mm' }}</td>
      <td [ngClass]="{ 'd-none': config['fechaVencimiento'].hidden}" [attr.data-label]="config['fechaVencimiento'].name" class="text-nowrap">{{ item.fechaVencimiento | date:'dd/MM/yyyy HH:mm' }}</td>
      <td [ngClass]="{ 'd-none': config['nota'].hidden}" [attr.data-label]="config['nota'].name">{{ item.nota }}</td>
    </ng-template>
    <app-lista-table
      [size]="size" [items]="items"
      [batchActionKey]="baKey"
      [tableConfig]="tableConfig"
      [listaTableKey]="ltKey"
      [infoTemplate]="info"
      [actionsTemplate]="actions"
      [tableCaption]="'Listado de Productos'"
      [page]="page" [totalPages]="totalPages" [totalElements]="totalElements" (pageChange)="loadPage($event)">
    </app-lista-table>
    <app-totales [loading]="valorStockLoading" [data]="totalesData"></app-totales>
  </div>
</div>
