<div class="app-productos">
  <div class="d-flex flex-row align-items-center my-3">
    <h1 class="h3 m-0 flex-fill"><fa-icon [icon]="['fas', 'boxes']"></fa-icon> Productos</h1>
    <div class="text-right m-0">
      <button type="button" class="btn" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="productosFiltersCollapse"
              [class.btn-outline-primary]="!isFiltersCollapsed" [class.btn-primary]="isFiltersCollapsed"><!--[disabled]="clearLoading || loading"-->
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="productosFiltersCollapse" [ngbCollapse]="isFiltersCollapsed" class="mb-3">
    <form [formGroup]="filterForm" (ngSubmit)="filter()" class="pb-2">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="codODes">Código o descripción</label>
            <input type="text" class="form-control" id="codODes" formControlName="codODes">
          </div>
        </div>
      <!--

          <app-cliente-filtro formControlName="idCliente"></app-cliente-filtro>
          <app-usuario-filtro formControlName="idUsuario"></app-usuario-filtro>
          <app-producto-filtro formControlName="idProducto"></app-producto-filtro>
          <app-usuario-filtro formControlName="idViajante" [roles]="[rol.VIAJANTE]" [label]="'Viajante'"></app-usuario-filtro>
        </div>
        <div class="col-md-6">
          <app-rango-fecha-filtro formControlName="rangoFecha"></app-rango-fecha-filtro>
          <div class="form-group">
            <label for="estado">Estado</label>
            <select class="form-control" id="estado" formControlName="estadoPedido">
              <option></option>
              <option *ngFor="let e of estados" [value]="e.text">{{ e.text }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nro-pedido">Nº Pedido</label>
            <input type="text" class="form-control" id="nro-pedido" formControlName="nroPedido">
          </div>
        </div> -->
      </div>
      <!-- <ul class="text-right list-inline mb-0">
        <li class="list-inline-item">
          <button type="submit" class="btn btn-primary"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
        </li>
        <li class="list-inline-item">
          <button type="button" class="btn btn-outline-secondary" (click)="reset()"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
        </li>
      </ul>-->
    </form>
  </div>
</div>
