<ng-template #noInfo>
  <div class="alert alert-danger">No info template defined</div>
</ng-template>
<ng-template #noActions>
  <div class="alert alert-danger">No actions template defined</div>
</ng-template>

<div *ngFor="let item of items; let i=index;" class="d-flex flex-row align-items-center border-bottom border-top py-2" [class.table-warning]="isSelected(item)">
  <div class="custom-control custom-checkbox ml-2" *ngIf="batchActionKey">
    <input type="checkbox" class="custom-control-input" [id]="'check_row_' + i.toString()" [checked]="isSelected(item)" (change)="toggleItemSelection($event, item)">
    <label class="custom-control-label" [for]="'check_row_' + i.toString()"><span class="sr-only">Seleccionar fila {{ i }}</span></label>
  </div>
  <div class="d-flex flex-column flex-sm-row flex-fill align-items-sm-center">
    <div class="d-flex flex-column flex-fill">
      <ng-container *ngTemplateOutlet="(infoTemplate ? infoTemplate : noInfo) ; context:{ $implicit: item, index: i }"></ng-container>
    </div>
    <div class="text-right flex-fill flex-shrink-0 flex-grow-0 px-2" *ngIf="actionsTemplate">
      <ng-container *ngTemplateOutlet="actionsTemplate ; context: { $implicit: item, index: i }"></ng-container>
    </div>
  </div>
</div>

<ngb-pagination [pageSize]="size" [collectionSize]="totalElements" [(page)]="displayPage"
                [maxSize]="1" [rotate]="false" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioDePagina($event)"
                *ngIf="totalPages > 1" class="d-flex justify-content-center my-2"></ngb-pagination>
