.container {
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.canvasStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 40vh;
    max-width: 100% !important;
}

canvas {
    width: 100% !important;
    max-width: 100% !important;
    height: 100% !important;
}

span {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
}

.form-select {
    background-color: whitesmoke;
    border: 1px solid rgb(206, 212, 218);
    margin-bottom: 6px;
    height: 35px;
}

.form-select:hover {
    background-color: rgba(245, 245, 245, 0.788);
    border: 2px solid rgb(206, 212, 218);
    box-shadow: none;
    outline: none;
}

.form-select:focus {
    background-color: whitesmoke;
    border: 2px solid rgb(206, 212, 218) ;
    box-shadow: none;
    outline: none;
}



