<div class="app-pedidos">
  <div class="d-flex flex-row align-items-center my-3">
    <h1 class="h3 m-0 flex-fill"><fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon> Pedidos</h1>
    <div class="text-right m-0">
      <button class="btn btn-primary" routerLink="/pedidos/nuevo" ngbPopover="Nuevo Pedido" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>&nbsp;&nbsp;
      <button type="button" class="btn" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="pedidosFiltersCollapse"
              [class.btn-outline-primary]="!isFiltersCollapsed" [class.btn-primary]="isFiltersCollapsed"
              ngbPopover="Filtros" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="pedidosFiltersCollapse" [ngbCollapse]="isFiltersCollapsed" class="mb-3">
    <ng-template #filterFormFields>
      <div class="row" [formGroup]="filterForm">
        <div class="col-md-6">
          <app-cliente-filtro formControlName="idCliente"></app-cliente-filtro>
          <app-usuario-filtro formControlName="idUsuario"></app-usuario-filtro>
          <app-producto-filtro formControlName="idProducto"></app-producto-filtro>
          <app-usuario-filtro formControlName="idViajante" [roles]="[rol.VIAJANTE]" [label]="'Viajante'"></app-usuario-filtro>
        </div>
        <div class="col-md-6">
          <app-rango-fecha-filtro formControlName="rangoFecha"></app-rango-fecha-filtro>
          <div class="form-group">
            <label for="estado">Estado</label>
            <select class="form-control" id="estado" formControlName="estadoPedido">
              <option></option>
              <option *ngFor="let e of estados" [value]="e.text">{{ e.text }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nro-pedido">Nº Pedido</label>
            <input type="text" class="form-control" id="nro-pedido" formControlName="nroPedido">
          </div>
        </div>
      </div>
    </ng-template>
    <app-filtros-form [form]="filterForm" [fieldsTemplate]="filterFormFields" (filterBtnClick)="filter()" (resetBtnClick)="reset()"></app-filtros-form>
  </div>
  <app-filtros-aplicados [appliedFilters]="appliedFilters" [totalElements]="totalElements"></app-filtros-aplicados>
  <div class="pedidos my-2">
    <ng-template #info let-item>
      <div class="d-flex flex-row flex-wrap">
        <span class="badge badge-dark ml-2 mb-2 px-2 py-1">
          <fa-icon [icon]="['fas', 'calendar']"></fa-icon> {{ item.fecha | date:'dd/MM/yyyy HH:mm' }}
        </span>
        <span class="badge badge-dark ml-2 mb-2 px-2 py-1">
          <fa-icon [icon]="['fas', 'hashtag']"></fa-icon> {{ item.nroPedido }}
        </span>
        <span class="badge ml-2 mb-2 px-2 py-1" [class.badge-success]="getEstadoValue(item.estado) === estado.ABIERTO"
              [class.badge-danger]="getEstadoValue(item.estado) === estado.CERRADO"
              [class.badge-warning]="getEstadoValue(item.estado) === estado.ACTIVO">
          {{ item.estado }}
        </span>
      </div>
      <div class="px-2 flex-fill">
        <div class="d-flex flex-row flex-wrap align-items-center">
          <div class="">
            <span class="dato"><span class="column-name">Cliente:&nbsp;</span><span class="column-data">{{ item.cliente.nombreFiscal }}</span></span>
            <span class="dato"><span class="column-name">Usuario:&nbsp;</span><span class="column-data">{{ item.nombreUsuario }}</span></span>
            <span class="dato" *ngIf="item.nombreViajante"><span class="column-name">Viajante:&nbsp;</span><span class="column-data">{{ item.nombreViajante }}</span></span>
          </div>
          <div class="">
            <span class="dato text-nowrap"><span class="column-name">Total Estimado:&nbsp;</span><span class="column-data total">{{ item.totalEstimado | currency:'ARS':'symbol':'1.0-2' }}</span></span>
            <span class="dato text-nowrap"><span class="column-name">Total Actual:&nbsp;</span><span class="column-data total">{{ item.totalActual | currency:'ARS':'symbol':'1.0-2' }}</span></span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #actions let-item>
      <ul class="list-inline mb-0 text-center d-inline-block">
        <li class="list-inline-item">
          <a class="btn btn-primary fake-cursor" ngbPopover="Ver Detalle" triggers="mouseenter:mouseleave" placement="left"
             (click)="verPedido(item)">
            <fa-icon [icon]="['far', 'eye']"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item" *ngIf="puedeEditarPedido(item)">
          <a class="btn btn-primary fake-cursor" ngbPopover="Editar" triggers="mouseenter:mouseleave" placement="left"
             (click)="editarPedido(item)">
            <fa-icon [icon]="['fas', 'pen']"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item" *ngIf="puedeElimarPedido(item)">
          <a class="btn btn-primary fake-cursor" ngbPopover="Eliminar" triggers="mouseenter:mouseleave" placement="left"
             (click)="eliminarPedido(item)">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item" *ngIf="puedeFacturarPedido(item)">
          <a class="btn btn-primary fake-cursor" ngbPopover="Facturar" triggers="mouseenter:mouseleave" placement="left"
             (click)="facturarPedido(item)">
            <fa-icon [icon]="['fas', 'cash-register']"></fa-icon>
          </a>
        </li>
        <li class="list-inline-item" *ngIf="puedeVerFacturas(item)">
          <a class="btn btn-primary fake-cursor" ngbPopover="Ver Facturas" triggers="mouseenter:mouseleave" placement="left"
             (click)="verFacturas(item)">
            <fa-icon [icon]="['fas', 'link']"></fa-icon>
          </a>
        </li>
      </ul>
    </ng-template>
    <app-lista [items]="items" [infoTemplate]="info" [actionsTemplate]="actions"
               [page]="page" [totalPages]="totalPages" [totalElements]="totalElements" (pageChange)="loadPage($event)"></app-lista>
  </div>
</div>
