<div class="app-pedidos">
  <div class="d-flex flex-row align-items-center my-3">
    <h1 class="h3 m-0 flex-fill"><fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon> Pedidos</h1>
    <div class="text-right m-0">
      <button class="btn btn-primary" routerLink="/pedidos/nuevo" title="Nuevo Pedido">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>&nbsp;&nbsp;
      <button type="button" class="btn" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="pedidosFiltersCollapse"
              [class.btn-outline-primary]="!isFiltersCollapsed" [class.btn-primary]="isFiltersCollapsed">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="pedidosFiltersCollapse" [ngbCollapse]="isFiltersCollapsed" class="mb-3">
    <form [formGroup]="filterForm" (ngSubmit)="filter()" class="border-bottom pt-0 pb-2 container-fluid">
      <div class="row">
        <div class="col-md-6">
          <app-cliente-filtro formControlName="idCliente"></app-cliente-filtro>
          <app-usuario-filtro formControlName="idUsuario"></app-usuario-filtro>
          <app-producto-filtro formControlName="idProducto"></app-producto-filtro>
          <app-usuario-filtro formControlName="idViajante" [roles]="[rol.VIAJANTE]" [label]="'Viajante'"></app-usuario-filtro>
        </div>
        <div class="col-md-6">
          <app-rango-fecha-filtro formControlName="rangoFecha"></app-rango-fecha-filtro>
          <div class="form-group">
            <label for="estado">Estado</label>
            <select class="form-control" id="estado" formControlName="estadoPedido">
              <option></option>
              <option *ngFor="let e of estados" [value]="e.text">{{ e.text }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nro-pedido">Nº Pedido</label>
            <input type="text" class="form-control" id="nro-pedido" formControlName="nroPedido">
          </div>
        </div>
      </div>
      <ul class="text-right list-inline mb-0">
        <li class="list-inline-item">
          <button type="submit" class="btn btn-primary"><fa-icon [icon]="['fas', 'search']"></fa-icon></button>
        </li>
        <li class="list-inline-item">
          <button type="button" class="btn btn-outline-secondary" (click)="reset()"><fa-icon [icon]="['fas', 'trash']"></fa-icon></button>
        </li>
      </ul>
    </form>
  </div>
  <div>
    <div class="alert alert-globo">
      <div *ngIf="applyFilters.length">
        Filtros aplicados:
        <ul class="pl-3">
          <li *ngFor="let f of applyFilters">
            {{ f.label }}:
            <app-mensaje-asicronico *ngIf="f.asyncFn" [asyncFn]="f.asyncFn"></app-mensaje-asicronico>
            <span *ngIf="!f.asyncFn">{{ f.value }}</span>
          </li>
        </ul>
      </div>
      <strong><em>{{ totalElements }} resultado{{ totalElements == 1 ? '': 's' }}</em></strong>
    </div>
    <div class="pedidos my-2">
      <div *ngFor="let p of pedidos" class="pedido d-flex flex-column flex-sm-row align-items-sm-center border-bottom border-top py-2">
        <div class="d-flex flex-column flex-fill">
          <div class="d-flex flex-row flex-wrap">
          <span class="badge badge-dark ml-2 mb-2 px-2 py-1">
            <fa-icon [icon]="['fas', 'calendar']"></fa-icon> {{ p.fecha | date:'dd/MM/yyyy hh:mm' }}
          </span>
            <span class="badge badge-dark ml-2 mb-2 px-2 py-1">
            <fa-icon [icon]="['fas', 'hashtag']"></fa-icon> {{ p.nroPedido }}
          </span>
            <span class="badge ml-2 mb-2 px-2 py-1" [class.badge-success]="getEstadoValue(p.estado) === estado.ABIERTO"
                  [class.badge-danger]="getEstadoValue(p.estado) === estado.CERRADO"
                  [class.badge-warning]="getEstadoValue(p.estado) === estado.ACTIVO">
            {{ p.estado }}
          </span>
          </div>
          <div class="px-2 flex-fill">
            <div class="d-flex flex-row flex-wrap align-items-center">
              <div class="">
                <span class="dato"><span class="column-name">Cliente:&nbsp;</span><span class="column-data">{{ p.cliente.nombreFiscal }}</span></span>
                <span class="dato"><span class="column-name">Usuario:&nbsp;</span><span class="column-data">{{ p.nombreUsuario }}</span></span>
                <span class="dato" *ngIf="p.nombreViajante"><span class="column-name">Viajante:&nbsp;</span><span class="column-data">{{ p.nombreViajante }}</span></span>
              </div>
              <div class="">
                <span class="dato text-nowrap"><span class="column-name">Total Estimado:&nbsp;</span><span class="column-data total">{{ p.totalEstimado | currency:'ARS':'symbol':'1.0-2' }}</span></span>
                <span class="dato text-nowrap"><span class="column-name">Total Actual:&nbsp;</span><span class="column-data total">{{ p.totalActual | currency:'ARS':'symbol':'1.0-2' }}</span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right flex-fill flex-shrink-0 flex-grow-0 px-2">
          <ul class="list-inline mb-0 text-center d-inline-block">
            <li class="list-inline-item">
              <a class="btn btn-primary fake-cursor" ngbPopover="Ver Detalle" triggers="mouseenter:mouseleave" placement="left"
                 (click)="verPedido(p)">
                <fa-icon [icon]="['far', 'eye']"></fa-icon>
              </a>
            </li>
            <li class="list-inline-item" *ngIf="puedeEditarPedido(p)">
              <a class="btn btn-primary fake-cursor" ngbPopover="Editar pedido" triggers="mouseenter:mouseleave" placement="left"
                 (click)="editarPedido(p)">
                <fa-icon [icon]="['fas', 'pen']"></fa-icon>
              </a>
            </li>
            <li class="list-inline-item" *ngIf="puedeElimarPedido(p)">
              <a class="btn btn-primary fake-cursor" ngbPopover="Eliminar pedido" triggers="mouseenter:mouseleave" placement="left"
                 (click)="eliminarPedido(p)">
                <fa-icon [icon]="['fas', 'trash']"></fa-icon>
              </a>
            </li>
            <li class="list-inline-item" *ngIf="puedeFacturarPedido(p)">
              <a class="btn btn-primary fake-cursor" ngbPopover="Facturar" triggers="mouseenter:mouseleave" placement="left"
                 (click)="facturarPedido(p)">
                <fa-icon [icon]="['fas', 'cash-register']"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-2">
        <button type="button" class="btn btn-primary" (click)="loadMore()" *ngIf="(page + 1) < totalPages">Mas resultados</button>
      </div>
    </div>
  </div>
</div>
