<div class="p-2 border border-secondary rounded mb-2">
  <div class="d-flex flex-row align-items-center">
    <div class="flex-fill d-flex flex-row flex-wrap align-items-center">
      <strong class="mr-2"><em>Ubicación Facturación:</em></strong>
      <div class="flex-fill">
        <em *ngIf="!ubicacion && !updating">(Sin ubicación)</em>
        <div *ngIf="ubicacion && !updating">
          {{ getUbicacionStr() }}
        </div>
        <div *ngIf="updating">
          <fa-icon class="spinner-primary" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
        </div>
      </div>
    </div>
    <div class="p-2">
      <button class="btn btn-primary" type="button" (click)="showUbicacionModal()" [disabled]="updating">
        <fa-icon [icon]="['fas', (ubicacion ? 'edit' : 'plus')]"></fa-icon>
      </button>
    </div>
  </div>
</div>
