<div class="form-group">
  <label for="idProveedor">Proveedor</label>
  <ng-select class="filtro ops-ng-select" id="idProveedor" [items]="proveedores$ | async"
             bindLabel="razonSocial"
             [loading]="loading"
             [typeahead]="input$"
             (change)="select($event)"
             typeToSearchText="Escriba para buscar"
             loadingText="Cargando..."
             notFoundText="Sin resultados"
             [(ngModel)]="value"
  >
    <ng-template ng-label-tmp let-item="item">
      <div *ngIf="item">
        <span class="nroProveedor"><fa-icon [icon]="['fas', 'portrait']"></fa-icon> {{ item.nroProveedor }}</span>&nbsp;-&nbsp;
        <span class="nombreFiscal">{{ item.razonSocial }}</span>
      </div>
    </ng-template>

    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <div class="card item-filtro">
        <div class="card-header"><fa-icon [icon]="['fas', 'portrait']"></fa-icon>&nbsp;&nbsp;{{ item.nroProveedor }}</div>
        <div class="card-body">
          <strong>{{ item.razonSocial }}</strong>
        </div>
      </div>
    </ng-template>
  </ng-select>
</div>
