<div class="mb-3">
  <label for="idProveedor" class="form-label">Proveedor</label>
  <div class="input-group mb-3">
    <label class="input-group-text" aria-hidden="true"><fa-icon [icon]="['fas', 'industry']"></fa-icon></label>
    <input type="text" class="form-control" aria-label="Proveedor" disabled aria-describedby="find-proveedor-button" tabindex="-1" id="idProveedor"
           [value]="getDisplayValue()">
    <button class="btn btn-outline-secondary" type="button" [disabled]="isDisabled || loading" (click)="clearValue()">
      <fa-icon [icon]="['fas', 'broom']"></fa-icon><span class="sr-only">Quitar proveedor</span>
    </button>
    <button class="btn btn-outline-secondary" type="button" id="find-proveedor-button" [disabled]="isDisabled || loading" (click)="select()">
      <fa-icon [icon]="['fas', 'search']" *ngIf="!loading"></fa-icon>
      <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" *ngIf="loading"></fa-icon>
      <span class="sr-only">Buscar proveedor</span>
    </button>
  </div>
</div>
