@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.sic-ops-web-app {
  height: 100%;
  padding: 0;
  &.menu-opened {
    overflow-y: hidden;
    @include media-breakpoint-up(lg) {
      overflow-y: unset;
    }
  }

  .env-banner {
    text-align: center;
    background: #39ff14;
    z-index: 4;
    animation: blink 1s infinite;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
