.container {
    padding-left: 4px;
    padding-right: 4px;
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box;
}

.custom-table-responsive {
    height: 40vh;
    overflow-y: auto;
    width: 100%;
    max-width: 100%;
}

.styleDateContainer {
    display: flex;
    align-items: center; 
    gap: 4px;
    width: 100%;
}

span {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
}

.spanStyle {
    border: #ced4da 1px solid;
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
    height: 31px;
    width: 70px;
    background-color: #f0f0f0;
}

.styleYear {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.styleYear select {
    width: 100%;
    flex-grow: 1;
}

.form-select-sm {
    border-radius: 0 0.25rem 0.25rem 0;
    height: 31px;
}
