<div class="mb-3">
  <label class="form-label">Cliente</label>
  <div class="input-group mb-3">
    <span class="input-group-text" aria-hidden="true"><fa-icon [icon]="['fas', 'portrait']"></fa-icon></span>
    <input type="text" class="form-control" aria-label="Cliente" disabled tabindex="-1"
           [value]="getDisplayValue()">
    <button class="btn btn-outline-secondary" type="button" [disabled]="isDisabled || loading" (click)="clearValue()">
      <fa-icon [icon]="['fas', 'times']"></fa-icon><span class="sr-only">Quitar cliente</span>
    </button>
    <button class="btn btn-outline-secondary" type="button" [disabled]="isDisabled || loading" (click)="select()">
      <fa-icon [icon]="['fas', 'search']" *ngIf="!loading"></fa-icon>
      <fa-icon [icon]="['fas', 'circle-notch']" [spin]="true" *ngIf="loading"></fa-icon>
      <span class="sr-only">Buscar Cliente</span>
    </button>
  </div>
</div>

