<div class="form-group">
  <label for="idCliente">Cliente</label>
  <ng-select class="filtro ops-ng-select" id="idCliente" [items]="clientes$ | async"
             bindLabel="nombreFiscal"
             [loading]="loading"
             [typeahead]="input$"
             (change)="select($event)"
             typeToSearchText="Escriba para buscar"
             loadingText="Cargando..."
             notFoundText="Sin resultados"
             [(ngModel)]="value"
  >
    <ng-template ng-label-tmp let-item="item">
      <div *ngIf="item">
        <span class="nroCliente"><fa-icon [icon]="['fas', 'portrait']"></fa-icon> {{ item.nroCliente }}</span>&nbsp;-&nbsp;
        <span class="nombreFiscal">{{ item.nombreFiscal }}</span>&nbsp;
        <span class="nombreFantasia" *ngIf="item.nombreFantasia">{{ item.nombreFantasia }}</span>
      </div>
    </ng-template>

    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <div class="card item-filtro">
        <div class="card-header"><fa-icon [icon]="['fas', 'portrait']"></fa-icon>&nbsp;&nbsp;{{ item.nroCliente }}</div>
        <div class="card-body">
          <strong>{{ item.nombreFiscal }}</strong>
          <br><span *ngIf="item.nombreFantasia">{{ item.nombreFantasia }}</span>
        </div>
      </div>
    </ng-template>
  </ng-select>
</div>
