<div class="modal-body d-flex flex-column p-2">
  <div class="input-group">
    <label class="sr-only" for="pmProducto"></label>
    <input #searchInput [(ngModel)]="busqueda" autocomplete="off" ngbAutofocus type="text" class="form-control" id="pmProducto" placeholder="Buscar Producto..."
           (keyup.enter)="buscar()" [disabled]="clearLoading || loading">
    <div class="input-group-append">
      <button tabindex="-1" class="btn btn-primary" type="button" (click)="buscar()" [disabled]="clearLoading || loading">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </button>
    </div>
  </div>
  <div *ngIf="clearLoading" class="text-center mt-3">
    <fa-icon class="spinner-primary" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
  </div>
  <form (submit)="seleccionarProducto()" class="flex-fill mt-2" *ngIf="!clearLoading && productos.length">
    <div class="productos">
      <div *ngFor="let p of productos; let f = first;" [class.border-top]="f" class="producto form-check border-bottom p-0"
           [class.selected]="p && productoSeleccionado && p.idProducto === productoSeleccionado.idProducto">
        <input class="form-check-input" type="radio" name="productos" id="p_{{ p.idProducto }}" value="{{ p.idProducto }}" (focus)="select(p)">
        <label class="form-check-label d-block" for="p_{{ p.idProducto }}">
          <span class="d-flex flex-row align-items-center">
            <span class="img-container flex-grow-0 flex-shrink-0 d-flex align-items-center">
              <img [src]="p.urlImagen ? p.urlImagen : 'https://res.cloudinary.com/hf0vu1bg2/image/upload/v1545616229/assets/sin_imagen.png'" alt="">
            </span>
            <span class="flex-fill d-flex flex-column p-2 info">
              <span>
                <span class="mr-2 codigo">{{ p.codigo }}</span>&nbsp;<span *ngIf="p.oferta" class="badge badge-success">OFERTA {{ p.porcentajeBonificacionOferta }}%</span>
              </span>
              <span class="mr-2"><strong>{{ p.descripcion }}</strong></span>
              <span class="mr-2">Stock: <strong>{{ getCantidad(p) }} {{ p.nombreMedida }}</strong> - Otra Suc: {{ getCantOtrasSucursales(p) }} {{ p.nombreMedida }}</span>
              <span class="mr-2" *ngIf="p.bulto > 1">Llevando {{ p.bulto }}+ {{ p.nombreMedida }}</span>
              <span class="mr-2">
                <span class="text-nowrap">P.U. <span class="precio" [class.tachado]="p.oferta && p.bulto == 1">{{ p.precioLista | currency:'ARS':'symbol':'1.0-2' }}</span></span>&nbsp;
                <span class="text-nowrap" *ngIf="p.oferta">P.U. Oferta <span class="precio">{{ p.precioListaBonificado | currency:'ARS':'symbol':'1.0-2' }}</span></span>
              </span>
            </span>
          </span>
        </label>
      </div>
    </div>
    <div class="text-center pt-2">
      <fa-icon class="spinner-primary" *ngIf="loading" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
      <button type="button" class="btn btn-primary" (click)="loadMore()" *ngIf="!loading && (page + 1) < totalPages">Mas resultados</button>
    </div>
    <button class="sr-only" type="submit"></button>
  </form>
</div>
<div class="modal-footer p-2">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()" [disabled]="loading || clearLoading">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>&nbsp;Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="seleccionarProducto()" [disabled]="!productoSeleccionado || loading || clearLoading">
    <fa-icon [icon]="['fas', 'check']"></fa-icon>&nbsp;Seleccionar
  </button>
</div>

