<div class="modal-header p-2 flex-column">
  <div class="input-group">
    <label class="form-label sr-only" for="searchTerm"></label>
    <input [(ngModel)]="searchTerm" autocomplete="off" type="search" class="form-control" id="searchTerm" [placeholder]="searchInputPlaceholder"
           (keyup.enter)="search()" [readOnly]="clearLoading || loading">
    <button tabindex="-1" class="btn btn-primary" type="button" (click)="search()" [disabled]="clearLoading || loading">
      <fa-icon [icon]="['fas', 'search']"></fa-icon>
    </button>
  </div>
  <div class="mt-2 px-1 small" *ngIf="sucursal">Sucursal origen: <strong>{{ sucursal.nombre }}</strong></div>
</div>
<div class="modal-body d-flex flex-column p-2">
  <div *ngIf="clearLoading" class="text-center mt-3">
    <fa-icon class="spinner-primary" [icon]="['fas', 'circle-notch']" [spin]="true" size="3x"></fa-icon>
  </div>
  <div class="flex-fill mt-2" *ngIf="!clearLoading && items.length">
    <ng-template #itemTemplate let-item>
      <div class="d-flex flex-row align-items-center producto">
        <span class="img-container flex-grow-0 flex-shrink-0 d-flex align-items-center align-self-stretch">
          <img [src]="item.urlImagen ? item.urlImagen : 'https://res.cloudinary.com/hf0vu1bg2/image/upload/v1545616229/assets/sin_imagen.png'" alt="">
        </span>
        <span class="flex-fill d-flex flex-column p-2 info">
          <span>
            <span class="me-2 codigo">{{ item.codigo }}</span>
            <span *ngIf="item.oferta" class="badge text-bg-success">OFERTA {{ item.porcentajeBonificacionOferta }}%</span>
            <span *ngIf="!item.oferta && productosService.estaBonificado(item)" class="badge text-bg-success">BONIF. {{ item.porcentajeBonificacionPrecio }}%</span>
          </span>
          <span class="me-2"><strong>{{ item.descripcion }}</strong></span>
          <span class="me-2">
            <span>Stock: <strong>{{ getCantidadDisponible(item) }} {{ item.nombreMedida }}</strong></span>
            <span *ngIf="!idSucursal"> - Otra Suc: {{ getCantDisponibleOtrasSucursales(item) }} {{ item.nombreMedida }}</span>
            <span> - Reservado: {{ item.cantidadReservada }} {{ item.nombreMedida }}</span>
          </span>
          <span *ngIf="item.porcentajeBonificacionOferta || item.porcentajeBonificacionPrecio">
            <span *ngIf="item.cantMinima > 1">Llevando {{ item.cantMinima }} o más&nbsp;</span>
            <span class="precio bonificado">$ {{ item.precioBonificado | number:'1.0-2':'es-AR' }}</span>
          </span>
          <span class="precio" [class.tachado]="!(item.cantMinima > 1) && (item.porcentajeBonificacionOferta || item.porcentajeBonificacionPrecio)">
            $ {{item.precioLista | number:'1.0-2':'es-AR'}}
          </span>
        </span>
      </div>
    </ng-template>
    <app-selectable-list #selectableList [items]="items" [itemTemplate]="itemTemplate"
                         (selectedItemChange)="setSelectedItem($event)" (selectedWithEnter)="selectWithEnter($event)" (lastElementKeyDown)="loadMore()"></app-selectable-list>
    <div class="text-center pt-2">
      <fa-icon class="spinner-primary" *ngIf="loading" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
      <button type="button" class="btn btn-primary" (click)="loadMore()" *ngIf="!loading && (page + 1) < totalPages">Mas resultados</button>
    </div>
  </div>
</div>
<div class="modal-footer p-2">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()" [disabled]="loading || clearLoading">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>&nbsp;Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="selectItem()" [disabled]="!selectedItem || loading || clearLoading">
    <fa-icon [icon]="['fas', 'check']"></fa-icon>&nbsp;Seleccionar
  </button>
</div>
