<section class="app-pedido">
	<div class="d-flex flex-row align-items-center my-3">
		<h1 class="h3 m-0 flex-fill text-truncate">
			<fa-icon [icon]="['fas', 'square-poll-vertical']"></fa-icon>
			Estadísticas
		</h1>
	</div>
	<ngb-accordion class="ops-accordion" [closeOthers]="false" #acc="ngbAccordion" activeIds="ngb-accordion-ventas">
		<ngb-panel id="ngb-accordion-compras">
			<ng-template ngbPanelTitle>
				<div class="d-flex align-items-center justify-content-between w-100">
					<fa-icon *ngIf="acc.isExpanded('ngb-accordion-compras')" [icon]="['fas', 'chevron-up']" class="chevronStyle me-2"></fa-icon>
					<fa-icon *ngIf="!acc.isExpanded('ngb-accordion-compras')" [icon]="['fas', 'chevron-down']" class="chevronStyle me-2"></fa-icon>
					<span class="me-auto">Compras</span>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<div class="container-fluid">
					<div class="row p-0 gap-4 mt-2">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-bar-graph-yearly
								[title]="'Compras por año'"
								[chartType]="'compras'">
							</app-chart-bar-graph-yearly>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-table-yearly
								[title]="'Compras por año por proveedor'"
								[chartType]="'compras'">
							</app-chart-table-yearly>
						</div>
					</div>
					<div class="row gap-4 p-0 mt-4">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-bar-graph-monthly
								[title]="'Compras por mes'"
								[chartType]="'compras'">
							</app-chart-bar-graph-monthly>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-table-monthly
								[title]="'Compras por mes por proveedor'"
								[chartType]="'compras'">
							</app-chart-table-monthly>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
		<ngb-panel id="ngb-accordion-ventas">
			<ng-template ngbPanelTitle>
				<div class="d-flex align-items-center justify-content-between w-100">
					<fa-icon *ngIf="acc.isExpanded('ngb-accordion-ventas')" [icon]="['fas', 'chevron-up']" class="chevronStyle me-2"></fa-icon>
					<fa-icon *ngIf="!acc.isExpanded('ngb-accordion-ventas')" [icon]="['fas', 'chevron-down']" class="chevronStyle me-2"></fa-icon>
					<span class="me-auto">Ventas</span>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<div class="container-fluid">
					<div class="row p-0 gap-4 mt-2">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-bar-graph-yearly
								[title]="'Ventas por año'"
								[chartType]="'ventas'">
							</app-chart-bar-graph-yearly>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-table-yearly
								[title]="'Ventas por año por cliente'"
								[chartType]="'ventas'">
							</app-chart-table-yearly>
						</div>
					</div>
					<div class="row gap-4 p-0 mt-4">
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-bar-graph-monthly
								[title]="'Ventas por mes'"
								[chartType]="'ventas'">
							</app-chart-bar-graph-monthly>
						</div>
						<div class="col-sm-12 col-md col-lg p-0">
							<app-chart-table-monthly
								[title]="'Ventas por mes por cliente'"
								[chartType]="'ventas'">
							</app-chart-table-monthly>
						</div>
					</div>
				</div>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
</section>
