<div class="app-pedido my-3">
  <div class="d-flex flex-row flex-wrap justify-content-end align-items-center mb-2">
    <h1 class="h3 pr-2 mb-0 flex-fill">
      <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
        (click)="volverAlListado()">
        <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
      </a>
      <fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon> {{ title }}
    </h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()" class="mt-2" *ngIf="form">
    <ngb-accordion class="ops-accordion" #accordion [closeOthers]="true" activeIds="cliente" (panelChange)="panelBeforeChange($event)">
      <ngb-panel id="cliente" [title]="'Cliente ' + getCccLabel()">
        <ng-template ngbPanelContent>
          <app-busqueda-cuenta-corriente-cliente [ccc]="form.get('ccc').value" [readOnly]="cccReadOnly" (select)="handleSelectCcc($event)"></app-busqueda-cuenta-corriente-cliente>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="productos" [title]="'Productos' + ' (' + form.get('renglonesPedido').value.length + ')'" [disabled]="!(form && form.get('ccc').value)">
        <ng-template ngbPanelContent>
          <div formArrayName="renglonesPedido">
            <app-busqueda-producto (seleccion)="selectProducto($event)"
                                   (directInputSeleccion)="directInputSeleccionProducto($event)"></app-busqueda-producto>
            <div class="table-responsive">
              <table class="table table-bordered table-sm">
                <caption class="sr-only">Productos del Pedido</caption>
                <thead>
                <tr>
                  <th class="w-100 align-middle" scope="col">Descripción</th>
                  <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <ng-template ngFor let-rp [ngForOf]="renglonesPedido.controls" let-i="index">
                  <tr [formGroupName]="i">
                    <td class="align-middle">
                      <span class="codigo">{{ rp.get('renglonPedido').value.codigoItem }}</span>&nbsp;
                      <span  *ngIf="rp.get('renglonPedido').value.bonificacionPorcentaje > 0" class="badge badge-success">
                        {{ rp.get('renglonPedido').value.oferta ? "OFERTA" : "BONIF." }} {{ rp.get('renglonPedido').value.bonificacionPorcentaje }}%
                      </span>
                      <br>
                      <strong>{{ rp.get('renglonPedido').value.descripcionItem }}</strong>
                      <div class="text-right">
                        {{ rp.get('renglonPedido').value.cantidad }} {{ rp.get('renglonPedido').value.medidaItem }} x {{ rp.get('renglonPedido').value.precioUnitario | currency:'ARS':'symbol':'1.0-2' }}
                        = <span [class.tachado]="rp.get('renglonPedido').value.bonificacionPorcentaje">{{ rp.get('renglonPedido').value.importeAnterior | currency:'ARS':'symbol':'1.0-2' }}</span>
                        <span class="text-right text-nowrap" *ngIf="rp.get('renglonPedido').value.bonificacionPorcentaje">
                          &nbsp;<strong>{{ rp.get('renglonPedido').value.importe | currency:'ARS':'symbol':'1.0-2'}}</strong>
                        </span>
                      </div>
                      <div *ngIf="rp.get('renglonPedido').value.errorDisponibilidad" class="disponibilidad-error">
                        {{ rp.get('renglonPedido').value.errorDisponibilidad }}
                      </div>
                    </td>
                    <td>
                      <ul class="list-unstyled text-center mb-0">
                        <li class="mb-2">
                          <a class="btn btn-primary fake-cursor" (click)="editarRenglon(rp)"><fa-icon [icon]="['fas', 'pen']"></fa-icon></a>
                        </li>
                        <li>
                          <a class="btn btn-primary fake-cursor" (click)="eliminarRenglon(i)"><fa-icon [icon]="['fas', 'trash']"></fa-icon></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </ng-template>
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-group flex-grow-0 flex-shrink-0">
            <label for="observaciones">Observaciones</label>
            <textarea class="form-control" id="observaciones" rows="3" maxlength="250" formControlName="observaciones"></textarea>
          </div>
          <table class="table table-bordered table-sm totales">
            <caption class="sr-only">Totales</caption>
            <tbody>
            <tr>
              <th colspan="2" scope="row" class="align-middle text-right">Subtotal</th>
              <td class="align-middle w-50 text-right">
                {{ (form.get('resultados').value ? form.get('resultados').value.subTotal : 0) | currency:'ARS':'symbol':'1.0-2' }}
              </td>
            </tr>
            <tr>
              <th scope="row" class="align-middle text-right">
                <label class="m-0 text-nowrap" for="descuento">% Desc.</label>
              </th>
              <td class="align-middle">
                <input class="form-control" type="number" id="descuento" formControlName="descuento">
              </td>
              <td class="align-middle text-right">
                {{ (form.get('resultados').value ? (-1 * form.get('resultados').value.descuentoNeto) : 0) | currency:'ARS':'symbol':'1.0-2' }}
              </td>
            </tr>
            <tr>
              <th scope="row" class="align-middle text-right">
                <label class="m-0 text-nowrap" for="recargo">% Rec.</label>
              </th>
              <td class="align-middle">
                <input class="form-control" type="number" id="recargo" formControlName="recargo">
              </td>
              <td class="align-middle text-right">
                {{ (form.get('resultados').value ? form.get('resultados').value.recargoNeto : 0) | currency:'ARS':'symbol':'1.0-2' }}
              </td>
            </tr>
            <tr>
              <th colspan="2" scope="row" class="align-middle text-right">Total</th>
              <td class="align-middle text-right">{{ (form.get('resultados').value ? form.get('resultados').value.total : 0) | currency:'ARS':'symbol':'1.0-2'}}</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="envio" [title]="'Envio' + getEnvioLabel()"
                 [disabled]="!(form && form.get('ccc').value) || !(form && form.get('renglonesPedido').value.length)">
        <ng-template ngbPanelContent>
          <label for="opcionEnvio">Seleccione el tipo de Envío:</label>&nbsp;
          <div class="btn-group btn-group-toggle" id="opcionEnvio" ngbRadioGroup name="radioBasic" formControlName="opcionEnvio">
            <label ngbButtonLabel class="btn-outline-primary letra-negra">
              <input ngbButton type="radio" [value]="oe.RETIRO_EN_SUCURSAL" [disabled]="!sucursales.length">
              Retiro en sucursal
            </label>
            <label ngbButtonLabel class="btn-outline-primary letra-negra">
              <input ngbButton type="radio" [value]="oe.ENVIO_A_DOMICILIO">
              Envío a Domicilio
            </label>
          </div>
          <div class="form-group my-3" *ngIf="form && form.get('opcionEnvio').value === oe.RETIRO_EN_SUCURSAL">
            <label for="sucursal" class="sr-only">Sucursal</label>
            <select class="form-control" id="sucursal" formControlName="sucursal">
              <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal">{{ getSucursalLabel(sucursal) }}</option>
            </select>
          </div>
          <div class="form-group my-3" *ngIf="form && form.get('opcionEnvio').value  === oe.ENVIO_A_DOMICILIO">
            <label for="opcionEnvioUbicacion" class="sr-only">Ubicación</label>
            <select class="form-control" id="opcionEnvioUbicacion" formControlName="opcionEnvioUbicacion">
              <option [value]="oeu.USAR_UBICACION_FACTURACION">Usar ubicación de facturación</option>
              <option [value]="oeu.USAR_UBICACION_ENVIO">Usar ubicación de envío</option>
            </select>
          </div>
          <div *ngIf="form && form.get('opcionEnvio').value === oe.ENVIO_A_DOMICILIO &&  form.get('opcionEnvioUbicacion').value === oeu.USAR_UBICACION_FACTURACION">
            <app-ubicacion-facturacion-component class="flex-fill" [cliente]="form.get('ccc').value.cliente" (updated)="updatedCliente($event)"></app-ubicacion-facturacion-component>
          </div>
          <div  *ngIf="form && form.get('opcionEnvio').value === oe.ENVIO_A_DOMICILIO &&  form.get('opcionEnvioUbicacion').value === oeu.USAR_UBICACION_ENVIO">
            <app-ubicacion-envio-component class="flex-fill" [cliente]="form.get('ccc').value.cliente" (updated)="updatedCliente($event)"></app-ubicacion-envio-component>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="pago" title="Pago"
                [disabled]="!(form && form.get('ccc').value) || !(form && form.get('renglonesPedido').value.length) || !(form && (form.get('sucursal').value || form.get('opcionEnvioUbicacion').value))">
        <ng-template ngbPanelContent>
          <app-pagos formControlName="pagos"></app-pagos>
          <div class="text-right mb-0 mt-2" *ngIf="!saving">
            <div *ngIf="!totalSuperaCompraMinima()"><em>(El total no supera el monto de compra mínima para el cliente)</em></div>
            <button type="submit" class="btn btn-primary" [disabled]="saving || !submitButtonEnabled() || !totalSuperaCompraMinima()">
              <fa-icon [icon]="['fas', 'check']"></fa-icon> Enviar Pedido
            </button>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </form>
  {{form.value.renglones | json}}
</div>
