.app-pedido {
  .tachado {
    text-decoration: line-through;
  }
  .codigo {
    font-size: 12px;
  }
  .letra-negra {
    color: #212529;
  }
  .totales {
    width: unset;
  }
  .disponibilidad-error {
    color: red;
    font-weight: bold;
    font-size: 0.9em;
    font-style: italic;
  }
}

