<div class="modal-header">
  <h4 class="modal-title" *ngIf="notaDebito">{{ getTitle() }}</h4>
</div>
<div class="modal-body">
  <div *ngIf="loading" class="text-center">
    <fa-icon class="spinner-primary" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
  </div>
  <app-cliente-detalle [cliente]="cliente" *ngIf="cliente && !loading"></app-cliente-detalle>
  <div class="renglones">
    <div class="renglon" *ngFor="let r of notaDebito.renglonesNotaDebito">
      <div *ngIf="r.descripcion"><span class="fw-bold">Descripción: </span>{{ r.descripcion }}</div>
      <div class="d-flex flex-column flex-md-row">
        <div class="me-2"><span class="fw-bold">Monto: </span>{{ r.monto | currency: 'ARS':'symbol':'1.0-2' }}</div>
        <div class="me-2"><span class="fw-bold">% IVA: </span>{{ r.ivaPorcentaje | number:'1.0-2' }}</div>
        <div class="me-2"><span class="fw-bold">IVA: </span>{{ r.ivaNeto | currency: 'ARS':'symbol':'1.0-2' }}</div>
        <div class="flex-fill text-end"><span class="fw-bold">Importe: </span>{{ r.importeNeto | currency: 'ARS':'symbol':'1.0-2' }}</div>
      </div>
    </div>
  </div>
  <form [formGroup]="form" (submit)="submit()" *ngIf="form && !loading">
    <div class="mb-3">
      <label for="motivo" class="form-label">Motivo</label>
      <div class="input-group" [ngClass]="{ 'is-invalid': submitted && f.motivo.errors }">
        <input type="text" class="form-control" id="motivo" formControlName="motivo"
               [ngClass]="{ 'is-invalid': submitted && f.motivo.errors }">
        <div ngbDropdown>
          <button class="btn btn-primary rounded-0 rounded-end" type="button" ngbDropdownToggle data-bs-toggle="dropdown"></button>
          <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <li *ngFor="let mo of motivoOptions"><a class="dropdown-item" ngbDropdownItem (click)="this.form.get('motivo').setValue(mo)">{{ mo }}</a></li>
          </ul>
        </div>
        <div class="invalid-feedback" *ngIf="submitted && f.motivo.errors">
          <div *ngIf="f.motivo.errors.required">Requerido</div>
        </div>
      </div>
    </div>
  </form>
  <table class="table table-bordered table-sm" *ngIf="cliente">
    <caption class="sr-only">Resumen de Totales</caption>
    <tbody>
    <tr>
      <th scope="row" class="w-25 table-dark">Subtotal Bruto</th>
      <td>{{ notaDebito.subTotalBruto | currency: 'ARS':'symbol':'1.0-2' }}</td>
    </tr>
    <tr>
      <th scope="row" class="w-25 table-dark">IVA 21%</th>
      <td>{{ notaDebito.iva21Neto | currency: 'ARS':'symbol':'1.0-2'  }}</td>
    </tr>
    <tr>
      <th scope="row" class="w-25 table-dark">No Gravado</th>
      <td>{{ notaDebito.montoNoGravado | currency: 'ARS':'symbol':'1.0-2'  }}</td>
    </tr>
    <tr>
      <th scope="row" class="w-25 table-dark">Total</th>
      <td>{{ notaDebito.total | currency: 'ARS':'symbol':'1.0-2'  }}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">
    <fa-icon [icon]="['fas', 'times']"></fa-icon> Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!form.valid">
    <fa-icon [icon]="['fas', 'check']"></fa-icon> Aceptar
  </button>
</div>

