<div class="modal-header">
  <h4 class="h5 modal-title flex-fill">Buscar Cliente</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body d-flex flex-column px-2">
  <div class="input-group">
    <label class="sr-only" for="cccmCcc"></label>
    <input [(ngModel)]="termino" autocomplete="off" ngbAutofocus type="text" class="form-control" id="cccmCcc"
           (keyup.enter)="buscar()" [disabled]="clearLoading || loading">
    <div class="input-group-append">
      <button tabindex="-1" class="btn btn-primary" type="button" (click)="buscar()" [disabled]="clearLoading || loading">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </button>
    </div>
  </div>
  <div *ngIf="clearLoading" class="text-center mt-3">
    <fa-icon class="spinner-primary" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
  </div>
  <form (submit)="seleccionarCcc()" class="flex-fill overflow-auto mt-3" *ngIf="!clearLoading && cccs.length">
    <div class="cccs">
      <div *ngFor="let ccc of cccs; let f = first;" [class.border-top]="f" class="ccc form-check border-bottom p-2" [class.selected]="ccc && cccSeleccionado && ccc.idCuentaCorriente === cccSeleccionado.idCuentaCorriente">
        <input class="form-check-input" type="radio" name="ccc" id="ccc_{{ ccc.idCuentaCorriente }}" [value]="ccc.idCuentaCorriente" (focus)="select(ccc)">
        <label class="form-check-label d-block" for="ccc_{{ ccc.idCuentaCorriente }}">
          <span class="d-flex flex-column">
            <span class="mr-2">
              <span class="numero">#{{ ccc.cliente.nroCliente }}</span>&nbsp;<span class="badge badge-success" *ngIf="ccc.cliente.bonificacion"> {{ ccc.cliente.bonificacion }}% bonif</span>
            </span>
            <span>
              <div *ngIf="ccc.cliente.idFiscal">CUIT ó DNI: {{ ccc.cliente.idFiscal }}</div>
              <strong>{{ ccc.cliente.nombreFiscal }}</strong><em *ngIf="ccc.cliente.nombreFantasia"> - {{ ccc.cliente.nombreFantasia }}</em>
            </span>
            <span *ngIf="ccc.cliente.ubicacionFacturacion">
              Ubi. facturación: {{ helper.formatUbicacion(ccc.cliente.ubicacionFacturacion) }}
            </span>
            <span *ngIf="ccc.cliente.ubicacionEnvio">
              Ubi. envio: {{ helper.formatUbicacion(ccc.cliente.ubicacionEnvio) }}
            </span>
          </span>
        </label>
      </div>
    </div>
    <div class="text-center pt-2">
      <fa-icon class="spinner-primary" *ngIf="loading" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
      <button type="button" class="btn btn-primary" (click)="loadMore()" *ngIf="!loading && (page + 1) < totalPages">Mas resultados</button>
    </div>
    <button class="sr-only" type="submit"></button>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!cccSeleccionado" (click)="seleccionarCcc()">
    <fa-icon [icon]="['fas', 'bullseye']"></fa-icon>&nbsp;Seleccionar
  </button>
</div>

