<div class="modal-header">
  <h4 class="h5 modal-title flex-fill">Buscar Cliente</h4>
</div>
<div class="modal-body flex-fill">
  <label class="sr-only" for="cccmCcc"></label>
  <div class="input-group mb-3">
    <input #searchInput autocomplete="off" type="text" class="form-control" id="cccmCcc" (keyup.enter)="onSearchInputEnterKeyUp($event)" [disabled]="loading">
    <div class="input-group-append">
      <button tabindex="-1" class="btn btn-primary" type="button">
        <fa-icon [icon]="['fas', 'search']"></fa-icon>
      </button>
    </div>
  </div>
  <form (submit)="seleccionarCcc()">
    <div *ngIf="loading" class="text-center my-3">
      <fa-icon class="spinner-primary" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
    </div>
    <div class="cccs" *ngIf="!loading">
      <div *ngFor="let ccc of cccs; let f = first;" [class.border-top]="f" class="ccc form-check border-bottom p-2" [class.selected]="ccc && cccSeleccionado && ccc.idCuentaCorriente === cccSeleccionado.idCuentaCorriente">
        <input class="form-check-input" type="radio" name="ccc" id="ccc_{{ ccc.idCuentaCorriente }}" [value]="ccc.idCuentaCorriente" (change)="select(ccc)">
        <label class="form-check-label d-block" for="ccc_{{ ccc.idCuentaCorriente }}">
          <span class="d-flex flex-column">
            <span class="mr-2">
              Nº: {{ ccc.cliente.nroCliente }}&nbsp;<span class="badge badge-success" *ngIf="ccc.cliente.bonificacion"> {{ ccc.cliente.bonificacion }}% bonif</span>
            </span>
            <span>
              <span *ngIf="ccc.cliente.idFiscal">CUIT ó DNI: {{ ccc.cliente.idFiscal }} - </span>
              <strong>{{ ccc.cliente.nombreFiscal }}</strong><em *ngIf="ccc.cliente.nombreFantasia"> - "{{ ccc.cliente.nombreFantasia }}"</em>
            </span>
            <span *ngIf="ccc.cliente.ubicacionFacturacion">
              Ubi. facturación: {{ helper.formatUbicacion(ccc.cliente.ubicacionFacturacion) }}
            </span>
            <span *ngIf="ccc.cliente.ubicacionEnvio">
              Ubi. envio: {{ helper.formatUbicacion(ccc.cliente.ubicacionEnvio) }}
            </span>
          </span>
        </label>
      </div>
    </div>
    <button class="invisible" type="submit"></button>
  </form>
</div>
