<div class="app-remitos">
  <div class="d-flex flex-row align-items-center my-3">
    <h1 class="h3 m-0 flex-fill text-truncate"><fa-icon [icon]="['fas', 'file-export']"></fa-icon> Remitos</h1>
    <div class="text-end m-0 text-nowrap">
      <button type="button" class="btn btn-primary ms-2" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="remitosFiltersCollapse"
              [class.bg-white]="!isFiltersCollapsed"
              ngbPopover="Filtros" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="remitosFiltersCollapse" [ngbCollapse]="isFiltersCollapsed" class="mb-3">
    <ng-template #filterFormFields>
      <div class="row" [formGroup]="filterForm">
        <div class="col-md-6">
          <app-rango-fecha-filtro id="rango-fecha-r" formControlName="rangoFecha"></app-rango-fecha-filtro>
          <div class="mb-3">
            <label class="form-label">Nº de Remito</label>
            <div class="row">
              <div class="col-4">
                <label class="form-label sr-only" for="num-serie">Número de serie</label>
                <input type="number" class="form-control" id="num-serie" formControlName="serieRemito">
              </div>
              <div class="col-8">
                <label class="form-label sr-only" for="num-remito">Número remito</label>
                <input type="number" class="form-control" id="num-remito" formControlName="nroRemito">
              </div>
            </div>
          </div>
          <app-transportista formControlName="idTransportista"></app-transportista>
        </div>
        <div class="col-md-6">
          <app-cliente-filtro id="clienteFiltroR" formControlName="idCliente"></app-cliente-filtro>
          <app-usuario-filtro id="usuarioFiltroR" formControlName="idUsuario" [roles]="rolesForUsuarioFilter"></app-usuario-filtro>
          <div class="card card-body bg-light mb-3">
            <app-filtro-ordenamiento class="mb-3" id="filtroOrdenamientoOrdenarPorT" [values]="ordenArray" [label]="'Ordenar Por'" formControlName="ordenarPor" #ordernarPorR></app-filtro-ordenamiento>
            <app-filtro-ordenamiento id="filtroOrdenamientoSentidoT" [values]="sentidoArray" [label]="'Sentido'" formControlName="sentido" #sentidoR></app-filtro-ordenamiento>
          </div>
        </div>
      </div>
    </ng-template>
    <app-filtros-form [form]="filterForm" [fieldsTemplate]="filterFormFields" (filterBtnClick)="filter()" (resetBtnClick)="reset()"></app-filtros-form>
  </div>
  <app-filtros-aplicados [appliedFilters]="appliedFilters" [totalElements]="totalElements" [searching]="searching"
                         [ordenarPorAplicado]="ordenarPorAplicado" [sentidoAplicado]="sentidoAplicado"></app-filtros-aplicados>
  <div class="remitos my-2">
    <ng-template #info let-item let-i="index" id="infoR">
      <div class="d-flex flex-row flex-wrap">
        <span class="badge text-bg-dark ms-2 mb-2 px-2 py-1">
          <fa-icon [icon]="['fas', 'calendar']"></fa-icon> {{ item.fecha | date:'dd/MM/yyyy HH:mm' }}
        </span>
        <span class="badge text-bg-dark ms-2 mb-2 px-2 py-1">
          #{{ helper.formatNumRemito(item.serie, item.nroRemito) }}
        </span>
      </div>
      <div class="px-2 flex-fill">
        <div class="d-flex flex-column flex-md-row flex-md-wrap">
          <span class="me-2"><span class="fw-bold">Usuario:&nbsp;</span><span class="fst-italic">{{ item.nombreUsuario }}</span></span>
          <span class="me-2"><span class="fw-bold">Cliente:&nbsp;</span><span class="fst-italic">{{ item.nombreFiscalCliente }}</span></span>
          <span class="me-2"><span class="fw-bold">Transportista:&nbsp;</span><span class="fst-italic">{{ item.nombreTransportista }}</span></span>
        </div>
      </div>
      <div class="px-2 flex-fill">
        <span class="fw-bold">Ubicación:&nbsp;</span><span class="fst-italic">{{ item.detalleEnvio }}</span>
      </div>
      <div>
        <span class="px-2 fw-bold">Costo Envio:&nbsp;</span><span class="fst-italic costo-de-envio">{{ item.costoDeEnvio | currency:'ARS':'symbol':'1.0-2' }}</span>
      </div>
    </ng-template>
    <ng-template #actions let-item let-index>
      <app-remito-actions-bar
        [remito]="item"
        (afterDelete)="afterRemitoDelete()"
      ></app-remito-actions-bar>
    </ng-template>
    <app-lista [size]="size" [items]="items" [infoTemplate]="info" [actionsTemplate]="actions"
               [page]="page" [totalPages]="totalPages" [totalElements]="totalElements" (pageChange)="loadPage($event)"></app-lista>
  </div>
</div>
