<div *ngIf="loading" class="text-center">
  <fa-icon class="spinner-primary" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'3x'"></fa-icon>
</div>
<div *ngIf="!loading">
  <div *ngFor="let m of movimientos" class="d-flex flex-column flex-sm-row align-items-sm-center border p-2">
    <div class="flex-fill">
      <span class="badge badge-secondary">
        <fa-icon [icon]="['fas', 'calendar']"></fa-icon> {{ m.fecha | date:'dd/MM/yyyy HH:mm' }}
      </span><br>
      {{ m.concepto }}<br>
      <span class="font-weight-bold" [class.text-success]="m.monto >= 0" [class.text-danger]="m.monto < 0">
        {{ m.monto | currency: 'ARS':'symbol':'1.0-2' }}
      </span>
    </div>
    <div>
      <ul class="list-inline text-right text-nowrap mb-0 ml-2">
        <li class="list-inline-item">
          <button type="button" class="btn btn-sm btn-primary" (click)="verMovimiento(m)"  ngbPopover="Ver detalle" triggers="mouseenter:mouseleave" placement="left">
            <fa-icon [icon]="['far', 'eye']"></fa-icon>
          </button>
        </li>
        <li class="list-inline-item" *ngIf="m.tipoComprobante === 'GASTO'"  ngbPopover="Eliminar Gasto" triggers="mouseenter:mouseleave" placement="left">
          <button type="button" class="btn btn-sm btn-primary" (click)="eliminarGasto(m)">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
