<div class="app-ver-recibo my-3">
  <div *ngIf="recibo">
    <div class="d-flex flex-row">
      <h1 class="h3 flex-fill text-truncate">
        <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
           (click)="volverAlListado()">
          <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
        </a>
        <fa-icon [icon]="['fas', 'file-invoice-dollar']"></fa-icon>
        Recibo de {{ recibo.idCliente ? 'Venta' : 'Compra' }}
      </h1>
    </div>
    <table class="table table-bordered table-sm">
      <caption class="sr-only">Datos del recibo</caption>
      <tbody>
      <tr><th scope="row" class="w-25 table-dark">Nº Recibo</th><td>{{ helper.formatNumFactura(recibo.numSerie, recibo.numRecibo) }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Fecha</th><td>{{ recibo.fecha | date:'dd/MM/yyyy' }}</td></tr>
      <tr *ngIf="recibo.idCliente">
        <th scope="row" class="w-25 table-dark">Cliente</th><td>{{ recibo.nombreFiscalCliente }}</td>
      </tr>
      <tr *ngIf="recibo.idProveedor">
        <th scope="row" class="w-25 table-dark">Proveedor</th><td>{{ recibo.razonSocialProveedor }}</td>
      </tr>
      <tr><th scope="row" class="w-25 table-dark">Forma de Pago</th><td>{{ recibo.nombreFormaDePago }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Monto</th><td>{{ recibo.monto | currency:'ARS':'symbol':'1.2-2' }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Concepto</th><td>{{ recibo.concepto }}</td></tr>
      </tbody>
    </table>
  </div>
</div>
