<div class="app-ver-recibo my-3">
  <div *ngIf="recibo">
    <div class="d-flex flex-row">
      <div class="flex-fill text-truncate">
        <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
           (click)="volverAlListado()">
          <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
        </a>
        <!--<fa-icon [icon]="['fas', 'box-open']"></fa-icon>-->
        {{ helper.formatNumFactura(recibo.numSerie, recibo.numRecibo) }}
      </div>
      <div class="text-right">
        <button class="btn btn-primary" (click)="downloadReciboPdf()" placement="left" ngbPopover="Descargar Archivo" triggers="mouseenter:mouseleave">
          <fa-icon [icon]="['fas', 'file-download']"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>
