<div class="app-ver-gasto my-3">
  <div class="d-flex flex-column flex-md-row align-items-md-center">
    <h1 class="h3 flex-fill text-truncate">
      <a class="btn fake-cursor" placement="right" ngbPopover="Volver atras" triggers="mouseenter:mouseleave"
         (click)="volverAlListado()">
        <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
      </a>
      <fa-icon [icon]="['fas', 'hand-holding-usd']"  [rotate]="180"></fa-icon> Nuevo Gasto
    </h1>
  </div>
  <app-gasto-form (gastoSaved)="onGastoSaved()" #gastoForm></app-gasto-form>
  <div class="text-right">
    <button type="submit" class="btn btn-primary" (click)="submit()">
      <fa-icon [icon]="['fas', 'check']"></fa-icon> Guardar
    </button>
  </div>
</div>
