<div class="app-facturas-compra">
  <div class="d-flex flex-row align-items-center my-3">
    <h1 class="h3 m-0 flex-fill"><fa-icon [icon]="['fas', 'file-invoice']"></fa-icon> Facturas de Compra</h1>
    <div class="text-right m-0">
      <button type="button" class="btn btn-primary ml-2" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="facturasCompraFiltersCollapse"
              [class.bg-white]="!isFiltersCollapsed"
              ngbPopover="Filtros" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="facturasCompraFiltersCollapse" [ngbCollapse]="isFiltersCollapsed" class="mb-3">
    <ng-template #filterFormFields>
      <div class="row" [formGroup]="filterForm">
        <div class="col-md-6">
          <app-proveedor-filtro formControlName="idProveedor"></app-proveedor-filtro>
          <app-producto-filtro formControlName="idProducto"></app-producto-filtro>
          <div class="form-group">
            <label for="tipo_factura">Tipo de Comprobante</label>
            <select class="form-control" id="tipo_factura" formControlName="tipoComprobante">
              <option></option>
              <option *ngFor="let tdc of tiposDeComprobantesFC" [value]="tdc.val">{{ tdc.text }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Nº Factura</label>
            <div class="row">
              <div class="col-4">
                <label class="sr-only" for="num-serie">Número de serie</label>
                <input type="text" class="form-control" id="num-serie" formControlName="numSerie">
              </div>
              <div class="col-8">
                <label class="sr-only" for="num-factura">Número de Factura</label>
                <input type="text" class="form-control" id="num-factura" formControlName="numFactura">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <app-rango-fecha-filtro formControlName="rangoFechaFactura" [label]="'Fecha Factura'"></app-rango-fecha-filtro>
          <app-rango-fecha-filtro formControlName="rangoFechaAlta" [label]="'Fecha Alta'"></app-rango-fecha-filtro>
          <div class="card card-body bg-light mb-3">
            <app-filtro-ordenamiento id="filtroOrdenamientoOrdenarPorFC" [values]="ordenarPorOptionsFC" [label]="'Ordenar Por'" formControlName="ordenarPor" #ordernarPorFC></app-filtro-ordenamiento>
            <app-filtro-ordenamiento id="filtroOrdenamientoSentidoFC" [values]="sentidoOptionsFC" [label]="'Sentido'" formControlName="sentido" #sentidoFC></app-filtro-ordenamiento>
          </div>
        </div>
      </div>
    </ng-template>
    <app-filtros-form [form]="filterForm" [fieldsTemplate]="filterFormFields" (filterBtnClick)="filter()" (resetBtnClick)="reset()"></app-filtros-form>
  </div>
  <app-filtros-aplicados [appliedFilters]="appliedFilters" [totalElements]="totalElements"
                         [ordenarPorAplicado]="ordenarPorAplicado" [sentidoAplicado]="sentidoAplicado"></app-filtros-aplicados>
  <div class="facturas my-2">
    <ng-template #info let-item let-i="index" id="infoFC">
      <div class="d-flex flex-row flex-wrap">
        <span class="badge badge-pill badge-light ml-2 mb-2 px-2 py-1" id="tipoComprobanteFC_{{ i }}">
          {{ item.tipoComprobante.replace('_', ' ') }}
        </span>
        <span class="badge badge-dark ml-2 mb-2 px-2 py-1" id="nroComprobanteInternoFC_{{ i }}">
          #INTERNO: {{ helper.formatNumFactura(item.numSerie, item.numFactura ) }}
        </span>
        <span class="badge badge-dark ml-2 mb-2 px-2 py-1" *ngIf="item.numSerieAfip" id="nroComprobanteAfipFC_{{ i }}">
          #AFIP: {{ helper.formatNumFactura(item.numSerieAfip, item.numFacturaAfip) }}
        </span>
        <span class="badge badge-secondary ml-2 mb-2 px-2 py-1" *ngIf="item.cae" id="caeFC_{{ i }}">
          CAE: {{ item.cae }} (vto: {{ item.vencimientoCAE | date:'dd/MM/yyyy HH:mm' }})
        </span>
      </div>
      <div class="px-2 flex-fill">
        <span class="dato"><span class="column-name">Fecha Factura:&nbsp;</span><span class="column-data">{{ item.fecha | date:'dd/MM/yyyy' }}</span></span>
        <span class="dato"><span class="column-name">Fecha de Alta:&nbsp;</span><span class="column-data">{{ item.fechaAlta | date:'dd/MM/yyyy HH:mm' }}</span></span>
        <br>
        <span class="dato"><span class="column-name">Proveedor:&nbsp;</span><span class="column-data">{{ item.razonSocialProveedor }}</span></span>
        <span class="dato"><span class="column-name">Usuario:&nbsp;</span><span class="column-data">{{ item.nombreUsuario }}</span></span>
        <span class="dato" *ngIf="item.nombreViajante"><span class="column-name">Viajante:&nbsp;</span><span class="column-data">{{ item.nombreViajante }}</span></span>
        <span class="dato"><span class="column-name">Total:&nbsp;</span><span class="column-data total">{{ item.total | currency:'ARS':'symbol':'1.0-2' }}</span></span>
      </div>
    </ng-template>
    <ng-template #actions let-item id="actionsFC">
      <ul class="list-inline mb-0 text-center d-inline-block">
        <li class="list-inline-item">
          <button class="btn btn-primary fake-cursor" ngbPopover="Ver Detalle" triggers="mouseenter:mouseleave" (click)="verFactura(item)" placement="left">
            <fa-icon [icon]="['far', 'eye']"></fa-icon>
          </button>
        </li>
      </ul>
    </ng-template>
    <app-lista [items]="items" [infoTemplate]="info" [actionsTemplate]="actions"
               [page]="page" [totalPages]="totalPages" [totalElements]="totalElements" (pageChange)="loadPage($event)"></app-lista>
  </div>
</div>
