<div class="app-facturas-compra">
  <div class="d-flex flex-row align-items-center my-3">
    <h1 class="h3 m-0 flex-fill"><fa-icon [icon]="['fas', 'file-invoice']"></fa-icon> Facturas de Compra</h1>
    <div class="text-right m-0">
      <button type="button" class="btn" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="facturasCompraFiltersCollapse"
              [class.btn-outline-primary]="!isFiltersCollapsed" [class.btn-primary]="isFiltersCollapsed"
              ngbPopover="Filtros" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="facturasCompraFiltersCollapse" [ngbCollapse]="isFiltersCollapsed" class="mb-3">
    <ng-template #filterFormFields>
      <div class="row" [formGroup]="filterForm">
        <div class="col-md-6">
          <app-proveedor-filtro formControlName="idProveedor"></app-proveedor-filtro>
          <app-producto-filtro formControlName="idProducto"></app-producto-filtro>
          <div class="form-group">
            <label for="tipo_factura">Tipo de Factura</label>
            <select class="form-control" id="tipo_factura" formControlName="tipoFactura">
              <option></option>
              <option *ngFor="let tf of tiposFactura" [value]="tf.val">{{ tf.text }}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Nº Factura</label>
            <div class="row">
              <div class="col-4">
                <label class="sr-only" for="num-serie">Número de serie</label>
                <input type="text" class="form-control" id="num-serie" formControlName="numSerie">
              </div>
              <div class="col-8">
                <label class="sr-only" for="num-factura">Número de Factura</label>
                <input type="text" class="form-control" id="num-factura" formControlName="numFactura">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <app-rango-fecha-filtro formControlName="rangoFecha"></app-rango-fecha-filtro>
          <div class="card card-body bg-light mb-3">
            <app-ordenar-por-filtro [values]="ordenarPorOptions" formControlName="ordenarPor" #ordernarPor></app-ordenar-por-filtro>
            <app-sentido-filtro formControlName="sentido" #sentido></app-sentido-filtro>
          </div>
        </div>
      </div>
    </ng-template>

    <app-filtros-form [form]="filterForm" [fieldsTemplate]="filterFormFields" (filterBtnClick)="filter()" (resetBtnClick)="reset()"></app-filtros-form>
  </div>
  <app-filtros-aplicados [appliedFilters]="appliedFilters" [totalElements]="totalElements"
                         [ordenarPorAplicado]="ordenarPorAplicado" [sentidoAplicado]="sentidoAplicado"></app-filtros-aplicados>
  <div class="facturas my-2">
    <div *ngFor="let f of items" class="factura d-flex flex-column flex-sm-row align-items-sm-center border-bottom border-top py-2">
      <div class="d-flex flex-column flex-fill">
        <div class="d-flex flex-row flex-wrap">
      <span class="badge badge-dark ml-2 mb-2 px-2 py-1">
        <fa-icon [icon]="['fas', 'calendar']"></fa-icon> {{ f.fecha | date:'dd/MM/yyyy hh:mm' }}
      </span>
          <span class="badge badge-pill badge-light ml-2 mb-2 px-2 py-1">
        {{ f.tipoComprobante.replace('_', ' ') }}
      </span>
          <span class="badge badge-dark ml-2 mb-2 px-2 py-1">
        <fa-icon [icon]="['fas', 'hashtag']"></fa-icon> INTERNO: {{ helper.formatNumFactura(f.numSerie, f.numFactura ) }}
      </span>
          <span class="badge badge-dark ml-2 mb-2 px-2 py-1" *ngIf="f.numSerieAfip">
        <fa-icon [icon]="['fas', 'hashtag']"></fa-icon> AFIP: {{ helper.formatNumFactura(f.numSerieAfip, f.numFacturaAfip) }}
      </span>
          <span class="badge badge-secondary ml-2 mb-2 px-2 py-1" *ngIf="f.cae">
        CAE: {{ f.cae }} (vto: {{ f.vencimientoCAE | date:'dd/MM/yyyy hh:mm' }})
      </span>
        </div>
        <div class="px-2 flex-fill">
          <div class="d-flex flex-row flex-wrap align-items-center">
            <div class="">
              <span class="dato"><span class="column-name">Proveedor:&nbsp;</span><span class="column-data">{{ f.razonSocialProveedor }}</span></span>
              <span class="dato"><span class="column-name">Usuario:&nbsp;</span><span class="column-data">{{ f.nombreUsuario }}</span></span>
              <span class="dato" *ngIf="f.nombreViajante"><span class="column-name">Viajante:&nbsp;</span><span class="column-data">{{ f.nombreViajante }}</span></span>
            </div>
            <div class="flex-fill">
              <span class="dato"><span class="column-name">Total:&nbsp;</span><span class="column-data total">{{ f.total | currency:'ARS':'symbol':'1.0-2' }}</span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right flex-fill flex-shrink-0 flex-grow-0 px-2">
        <ul class="list-inline mb-0 text-center d-inline-block">
          <li class="list-inline-item">
            <button class="btn btn-primary fake-cursor" ngbPopover="Ver Detalle" triggers="mouseenter:mouseleave" (click)="verFactura(f)" placement="left">
              <fa-icon [icon]="['far', 'eye']"></fa-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-2">
      <button type="button" class="btn btn-primary" (click)="loadMore()" *ngIf="(page + 1) < totalPages">Mas resultados</button>
    </div>
  </div>
</div>
