<div class="app-rubro">
  <h1 class="h3 m-0 flex-fill text-truncate my-3">
    <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
        (click)="volverAlListado()">
      <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
    </a>
    <fa-icon [icon]="['fas', 'cubes']"></fa-icon>
    Rubro{{ rubro ? (': ' + rubro.nombre) : ''}}
  </h1>
  <form [formGroup]="form" (submit)="submit()" *ngIf="form" class="border rounded bg-light p-3">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre"
              [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
          <div class="invalid-feedback" *ngIf="submitted && f.nombre.errors">
            <div *ngIf="f.nombre.errors.required">Requerido</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="imagenHtml" class="form-label">Imagen (html)</label>
          <textarea class="form-control" id="observaciones" rows="5" formControlName="imagenHtml"></textarea>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
