<div class="modal-header p-2">
  <h4 class="h5 modal-title flex-fill">{{ title }}</h4>
</div>
<div class="modal-body d-flex flex-column p-2">
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="idProvincia">Provincia</label>
          <ng-select class="ops-ng-select" [items]="provincias"
                     labelForId="idProvincia"
                     bindLabel="nombre"
                     bindValue="idProvincia"
                     [loading]="provinciasLoading"
                     loadingText="Cargando..."
                     formControlName="idProvincia">
          </ng-select>
          <div class="invalid-feedback" [class.d-block]="submitted && f.idProvincia.errors">
            <div *ngIf="f.idProvincia.errors && f.idProvincia.errors.required">Requerido</div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="idLocalidad">Localidad</label>
          <ng-select class="ops-ng-select" [items]="localidades"
                     labelForId="idLocalidad"
                     bindLabel="nombre"
                     bindValue="idLocalidad"
                     [loading]="localidadesLoading"
                     loadingText="Cargando..."
                     formControlName="idLocalidad">
          </ng-select>
          <div class="invalid-feedback" [class.d-block]="submitted && f.idLocalidad.errors">
            <div *ngIf="f.idLocalidad.errors && f.idLocalidad.errors.required">Requerido</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="calle">Calle</label>
          <input type="text" class="form-control" id="calle" formControlName="calle"
                 [ngClass]="{ 'is-invalid': submitted && f.calle.errors }">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="numero">Número</label>
          <input type="text" class="form-control" id="numero" formControlName="numero"
                 [ngClass]="{ 'is-invalid': submitted && f.numero.errors }">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="piso">Piso</label>
          <input type="text" class="form-control" id="piso" formControlName="piso"
                 [ngClass]="{ 'is-invalid': submitted && f.piso.errors }">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="departamento">Dpto</label>
          <input type="text" class="form-control" id="departamento" formControlName="departamento"
                 [ngClass]="{ 'is-invalid': submitted && f.departamento.errors }">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea type="text" class="form-control" id="descripcion" formControlName="descripcion"
             [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"></textarea>
    </div>
    <button class="sr-only" type="submit"></button>
  </form>
</div>
<div class="modal-footer p-2">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">
    <fa-icon [icon]="['fas', 'times']"></fa-icon>&nbsp;Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="submit()">
    <fa-icon [icon]="['fas', 'check']"></fa-icon>&nbsp;Aceptar
  </button>
</div>
