<div class="app-recibos-compra">
  <div class="d-flex flex-row my-3">
    <h1 class="h3 flex-fill text-truncate">
      <fa-icon [icon]="['fas', 'file-invoice-dollar']"></fa-icon> Recibos de Compra
    </h1>
    <div class="text-end m-0">
      <button type="button" class="btn btn-primary ms-2" (click)="isFiltersCollapsed = !isFiltersCollapsed"
              [attr.aria-expanded]="!isFiltersCollapsed" aria-controls="recibosCompraCollapse"
              [class.bg-white]="!isFiltersCollapsed"
              ngbPopover="Filtros" triggers="mouseenter:mouseleave" placement="left">
        <fa-icon [icon]="['fas', 'filter']"></fa-icon>
      </button>
    </div>
  </div>
  <div id="recibosCompraCollapse" [ngbCollapse]="isFiltersCollapsed" class="mb-3">
    <ng-template #filterFormFields>
      <div class="row" [formGroup]="filterForm">
        <div class="col-xl-6">
          <div class="p-3 mb-3 bg-white rounded border">
            <app-rango-fecha-filtro formControlName="rangoFecha"></app-rango-fecha-filtro>
          </div>
          <div class="mb-3">
            <label class="form-label">Nº Recibo </label>
            <div class="row">
              <div class="col-4">
                <label class="form-label sr-only" for="num-serie">Nº de serie</label>
                <input type="text" class="form-control" id="num-serie" formControlName="numSerie">
              </div>
              <div class="col-8">
                <label class="form-label sr-only" for="num-recibo">Nº de Recibo</label>
                <input type="text" class="form-control" id="num-recibo" formControlName="numRecibo">
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="concepto" class="form-label">Concepto</label>
            <input type="text" class="form-control" id="concepto" formControlName="concepto">
          </div>
          <div class="mb-3">
            <label for="idFormaDePago" class="form-label">Forma de Pago</label>
            <select class="form-select" id="idFormaDePago" formControlName="idFormaDePago">
              <option *ngFor="let fp of formasDePago" [value]="fp.idFormaDePago">{{ fp.nombre }}</option>
            </select>
          </div>
        </div>
        <div class="col-xl-6">
          <app-proveedor-filtro formControlName="idProveedor"></app-proveedor-filtro>
          <app-usuario-filtro formControlName="idUsuario"></app-usuario-filtro>
          <app-usuario-filtro formControlName="idViajante" [roles]="[rol.VIAJANTE]" [label]="'Viajante'"></app-usuario-filtro>
          <div class="p-3 border bg-light mb-3">
            <app-filtro-ordenamiento class="mb-3" id="filtroOrdenamientoOrdenarPorRV" [values]="ordenArray" [label]="'Ordenar Por'" formControlName="ordenarPor" #ordenarPorR></app-filtro-ordenamiento>
            <app-filtro-ordenamiento id="filtroOrdenamientoSentidoRV" [values]="sentidoArray" [label]="'Sentido'" formControlName="sentido" #sentidoR></app-filtro-ordenamiento>
          </div>
        </div>
      </div>
    </ng-template>
    <app-filtros-form [form]="filterForm" [fieldsTemplate]="filterFormFields" (filterBtnClick)="filter()" (resetBtnClick)="reset()"></app-filtros-form>
  </div>
  <app-filtros-aplicados [appliedFilters]="appliedFilters" [totalElements]="totalElements" [searching]="searching"
                         [ordenarPorAplicado]="ordenarPorAplicado" [sentidoAplicado]="sentidoAplicado"></app-filtros-aplicados>
  <div class="recibos-compra">
    <ng-template #info let-item>
      <div class="flex-fill">
        <div>
          <span class="badge text-bg-dark me-2"><fa-icon [icon]="['fas', 'calendar']"></fa-icon> {{ item.fecha | date:'dd/MM/yyyy HH:mm' }}</span>
          <span class="badge text-bg-secondary">#{{ helper.formatNumFactura(item.numSerie, item.numRecibo) }}</span>
        </div>
      </div>
      <div class="d-flex flex-column flex-md-row mt-2">
        <div class="w-100 me-2">
          <div class="me-2">
            <span class="fw-bold">Proveedor:&nbsp;</span>
            <span class="fst-italic">{{ item.razonSocialProveedor }}</span>
          </div>
          <div class="me-2">
            <span class="fw-bold">Usuario:&nbsp;</span>
            <span class="fst-italic">{{ item.nombreUsuario }}</span>
          </div>
          <div class="me-2" *ngIf="item.nombreViajante">
            <span class="fw-bold">Viajante:&nbsp;</span>
            <span class="fst-italic">{{ item.nombreViajante }}</span>
          </div>
        </div>
        <div class="w-100 me-2">
          <div class="flex-fill d-flex flex-row flex-wrap me-2">
            <span class="fw-bold">Forma de Pago:&nbsp;</span>
            <span class="fst-italic">{{ item.nombreFormaDePago }}</span>
          </div>
          <div class="flex-fill d-flex flex-row flex-wrap me-2">
            <span class="fw-bold">Concepto:&nbsp;</span>
            <span class="fst-italic">{{ item.concepto }}</span>
          </div>
          <div class="flex-fill d-flex flex-row flex-wrap align-items-center me-2">
            <span class="fw-bold">Monto:&nbsp;</span>
            <span class="fst-italic monto">{{ item.monto | currency:'ARS':'symbol':'1.0-2' }}</span>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #actions let-item>
      <ul class="list-inline mb-0 text-center d-inline-block">
        <li class="list-inline-item">
          <button class="btn btn-primary fake-cursor" ngbPopover="Ver Detalle" placement="left" triggers="mouseenter:mouseleave" (click)="verRecibo(item)">
            <fa-icon [icon]="['far', 'eye']"></fa-icon>
          </button>
        </li>
        <li class="list-inline-item" *ngIf="hasRoleToCrearNota">
          <button class="btn btn-primary fake-cursor" ngbPopover="Crear Nota de Débito" placement="left" triggers="mouseenter:mouseleave" (click)="crearNotaDeDebitoRecibo(item)">
            <fa-icon [icon]="['fas', 'balance-scale-right']"></fa-icon>
          </button>
        </li>
        <li class="list-inline-item" *ngIf="hasRoleToDelete">
          <button class="btn btn-primary fake-cursor" ngbPopover="Eliminar" placement="left" triggers="mouseenter:mouseleave" (click)="eliminarRecibo(item)">
            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          </button>
        </li>
      </ul>
    </ng-template>
    <app-lista [size]="size" [items]="items" [infoTemplate]="info" [actionsTemplate]="actions"
               [page]="page" [totalPages]="totalPages" [totalElements]="totalElements" (pageChange)="loadPage($event)"></app-lista>
    <div class="text-end my-3" *ngIf="hasRoleToSeeTotal">
      <div class="text-center py-2">
        <fa-icon class="spinner-primary" [icon]="['fas', 'circle-notch']" [spin]="true" [size]="'2x'" *ngIf="loadingTotal"></fa-icon>
      </div>
      <div *ngIf="!loadingTotal">
        <span class="fw-bold">Total: </span>
        <span class="lead">
          <span class="badge" [ngClass]="total >= 0 ? 'text-bg-success' : 'text-bg-danger'">
            {{ total | currency: 'ARS':'symbol':'1.0-2' }}
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
