<div class="d-flex flex-row align-items-center">
  <div class="flex-fill p-2">
    <div *ngIf="cliente" class="d-flex flex-column">
      <span class="mr-2">
        #{{ cliente.nroCliente }}
      </span>
      <span>
        <div *ngIf="cliente.idFiscal">CUIT ó DNI: {{ cliente.idFiscal }}</div>
        <strong>{{ cliente.nombreFiscal }}</strong><em *ngIf="cliente.nombreFantasia"> - {{ cliente.nombreFantasia }}</em>
      </span>
      <span *ngIf="cliente.ubicacionEnvio">
        Ubi. facturación: {{ helper.formatUbicacion(cliente.ubicacionFacturacion) }}
      </span>
      <span *ngIf="cliente.ubicacionEnvio">
        Ubi. envio: {{ helper.formatUbicacion(cliente.ubicacionEnvio) }}
      </span>
      <span *ngIf="cliente.montoCompraMinima">
        Compra mínima: {{ cliente.montoCompraMinima | currency: 'ARS':'symbol':'1.0-2' }}
      </span>
      <span>
        Saldo: <span class="saldo" [class.negativo]="cliente.saldoCuentaCorriente < 0">{{ cliente.saldoCuentaCorriente | currency: 'ARS':'symbol':'1.0-2'}}</span>
      </span>
    </div>
    <div *ngIf="!cliente">
      <em>Busque un Cliente para poder continuar</em>
    </div>
  </div>
  <div class="p-2" *ngIf="!readOnly">
    <ul class="list-unstyled p-0 m-0">
      <li class="mb-2">
        <button class="btn btn-primary" type="button" (click)="showClienteModal()">
          <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </button>
      </li>
    </ul>
  </div>
</div>
