<div class="app-sucursal">
  <div class="d-flex flex-row align-items-center my-3">
    <h1 class="h3 flex-fill text-truncate">
      <a class="btn fake-cursor" placement="right" ngbPopover="Volver atras" triggers="mouseenter:mouseleave"
        (click)="volverAlListado()">
        <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
      </a>
      <fa-icon [icon]="['fas', 'store']"></fa-icon> Sucursal
    </h1>
  </div>
  <form [formGroup]="form" (submit)="submit()" *ngIf="form && !loading" class="bg-white border rounded p-3">
    <div class="row">
      <div class="col-md-6 col-lg-4 align-self-center">
        <label class="form-label sr-only" for="imagen">Imágen</label>
        <app-img-picker id="imagen" [imageDataUrl]="imageDataUrl"
            (changeAsData)="imageDataChange($event)" (changeAsUrl)="imageUrlChange($event)" >
        </app-img-picker>
      </div>
      <div class="col-md-6 col-lg-8">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre"
              [ngClass]="{ 'is-invalid': submitted && (f.nombre.errors) }">
          <div class="invalid-feedback" *ngIf="submitted && f.nombre.errors">
            <div *ngIf="f.nombre.errors.required">Requerido</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="lema" class="form-label">Lema</label>
          <input type="text" class="form-control" id="lema" formControlName="lema">
        </div>
        <div class="mb-3">
          <label for="categoriaIVA" class="form-label">Condición IVA</label>
          <select class="form-select" id="categoriaIVA" formControlName="categoriaIVA"
              [ngClass]="{ 'is-invalid': submitted && (f.categoriaIVA.errors) }">
            <option *ngFor="let ci of categoriasIVA" [value]="ci.value">{{ ci.text }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && f.categoriaIVA.errors">
            <div *ngIf="f.categoriaIVA.errors.required">Requerido</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="idFiscal" class="form-label">CUIT o DNI</label>
          <input type="text" class="form-control" id="idFiscal" formControlName="idFiscal">
        </div>
        <div class="mb-3">
          <label for="ingresosBrutos" class="form-label">Ingresos Brutos</label>
          <input type="text" class="form-control" id="ingresosBrutos" formControlName="ingresosBrutos">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="fechaVencimiento" class="form-label">Inicio de Actividad</label>
          <div class="input-group">
            <input class="form-control" readonly id="fechaInicioActividad" formControlName="fechaInicioActividad"
                    [displayMonths]="1" [navigation]="'select'" [outsideDays]="'visible'"
                    [showWeekNumbers]="false" ngbDatepicker #dd="ngbDatepicker">
            <button class="btn btn-outline-secondary" type="button" (click)="form.get('fechaInicioActividad').setValue(null)">
              <fa-icon [icon]="['fas', 'broom']"></fa-icon>
            </button>
            <button class="btn btn-outline-secondary" (click)="dd.open()" type="button">
              <fa-icon [icon]="['fas', 'calendar']"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div class="invalid-feedback" *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.required">Requerido</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="telefono" formControlName="telefono">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <app-ubicacion-form-field id="ubicacion" label="Ubicación" formControlName="ubicacion"></app-ubicacion-form-field>
        <div class="custom-error-message error-message-fix" *ngIf="submitted && f.ubicacion.errors">
          <div *ngIf="f.ubicacion.errors.required">Requerido</div>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button class="btn btn-primary">
        <fa-icon [icon]="['fas', 'check']"></fa-icon> Guardar
      </button>
    </div>
  </form>
</div>
