<div class="app-ver-remito my-3">
  <div *ngIf="remito">
    <div class="d-flex flex-md-row align-items-md-center">
      <h1 class="h3 flex-fill text-truncate">
        <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
           (click)="volverAlListado()">
          <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
        </a>
        <fa-icon [icon]="['fas', 'file-export']"></fa-icon>
        Remito
      </h1>
      <app-remito-actions-bar class="text-nowrap"
        [hiddenButtons]="['show']"
        [remito]="remito"
        (afterDelete)="volverAlListado()"
      ></app-remito-actions-bar>
    </div>
    <table class="table table-bordered table-sm">
      <caption class="sr-only">Datos del remito</caption>
      <tbody>
      <tr><th scope="row" class="w-25 table-dark">Fecha</th><td>{{ remito.fecha | date:'dd/MM/yyyy' }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Nº Remito</th><td>{{ helper.formatNumRemito(remito.serie, remito.nroRemito) }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Cliente</th><td>{{ remito.nroDeCliente }} - {{ remito.nombreFiscalCliente   }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Ubicación</th><td>{{ remito.detalleEnvio }}</td></tr>
      <tr>
        <th scope="row" colspan="2" class="table-dark">Detalle de los bultos:</th>
      </tr>
      <tr>
        <td colspan="2" class="p-0">
          <div class="table-responsive">
            <table class="table table-bordered table-sm mb-0">
              <caption class="sr-only">Detalle de los bultos del remito</caption>
              <thead>
              <tr>
                <th scope="col" class="px-2 text-center table-light">Cantidad</th>
                <th scope="col" class="px-2 text-center w-100 table-light">Descripción</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let r of renglones">
                <td class="px-2 text-center">{{ r.cantidad }}</td>
                <td class="px-2">{{ r.tipoBulto }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <tr><th scope="row" class="w-25 table-dark">Cantidad de Bultos</th><td>{{ remito.cantidadDeBultos }}</td></tr>
      <tr *ngIf="remito.pesoTotalEnKg"><th scope="row" class="w-25 table-dark">Peso</th><td>{{ remito.pesoTotalEnKg }} kg</td></tr>
      <tr *ngIf="remito.volumenTotalEnM3"><th scope="row" class="w-25 table-dark">Volumen</th><td>{{ remito.volumenTotalEnM3 }} m<sup>3</sup></td></tr>
      <tr><th scope="row" class="w-25 table-dark">Transportista</th><td>{{ remito.nombreTransportista }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Usuario</th><td class="fst-italic">{{ remito.nombreUsuario }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Observaciones</th><td>{{ remito.observaciones }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Total Facturas</th><td>{{ remito.totalFacturas | currency: 'ARS':'symbol':'1.0-2' }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Costo de Envío</th><td>{{ remito.costoDeEnvio | currency: 'ARS':'symbol':'1.0-2' }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Total</th><td>{{ remito.total | currency: 'ARS':'symbol':'1.0-2' }}</td></tr>
      </tbody>
    </table>
  </div>
</div>
