.container {
    padding: 0;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
.canvasStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
}

canvas {
    margin: 4px;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

span {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

