/** Globo colors **/
$yellow-globo: #f2dc47;

/** Overwrides **/
$primary: $yellow-globo !default;
//$secondary: whitesmoke !default;

$badge-font-size: 85% !default;

$navbar-dark-color:                 $yellow-globo !default;
$navbar-dark-hover-color:           $yellow-globo !default;
$navbar-dark-active-color:          $yellow-globo !default;
$navbar-dark-disabled-color:        rgba($yellow-globo, .25) !default;

$pagination-custom-color: #343a40;
$pagination-color:                  $pagination-custom-color !default;
$pagination-hover-color:            $pagination-custom-color !default;
$pagination-active-color:           $pagination-custom-color !default;
