/** Globo colors **/
$yellow-globo: #f2dc47;
$black-globo: black;

/** Overwrides **/
$primary: $yellow-globo !default;
//$secondary: whitesmoke !default;

$badge-font-size: 85% !default;

$navbar-dark-color:                 $black-globo !default;
$navbar-dark-hover-color:           $black-globo !default;
$navbar-dark-active-color:          $black-globo !default;
$navbar-dark-disabled-color:        rgba($black-globo, .25) !default;

$pagination-custom-color: #343a40;
$pagination-color:                  $pagination-custom-color !default;
$pagination-hover-color:            $pagination-custom-color !default;
$pagination-active-color:           $pagination-custom-color !default;
