@import "variables";

$theme-colors: (
  "primary": $primary-color
);

@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/scss/default.theme";

/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: whitesmoke;
  overflow-x: hidden;
}

.ng-select.ng-select-single .ng-select-container {
  height: 38px;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.card.item-filtro {
  &:hover, &:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(218, 169, 44, 0.5);
    -moz-box-shadow: 0 0 0 0.2rem rgba(218, 169, 44, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(218, 169, 44, 0.5);
  }
}

.spinner-primary {
  color: $primary-color;
}

.card-body {
  white-space: normal;
}

.pedido, .factura {
  .dato {
    display: inline-block;
    margin-right: 0.5rem;
    .column-name {
      font-weight: bold;
      display: inline-block;
    }
    .column-data {
      display: inline-block;
      font-style: italic;
      &.total {
        background: #eaffe6;
        color: #084c08;
        font-weight: bold;
        padding: 0.15rem 0.5rem 0 0.4rem;
        margin-bottom: 0.2rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        border-radius: 0.25rem;
        border: 0.05rem solid #084c08;
        border-left: 0.3rem solid #084c08;
      }
    }
  }
}

.badge-warning {
  background: $yellow-globo;
}

.alert-globo {
  color: $gray-900;
  background-color: $primary-color;
  border-color: $primary-color;
  font-weight: bold;
}

app-menu {
  margin-left: -15rem;
  transition: margin-left 250ms;
  &.opened {
    margin-left: 0;
  }
  @include media-breakpoint-up(md) {
    margin-left: 0;
  }
}

.main-content {
  min-width: 100%;
  @include media-breakpoint-up(md) {
    min-width: unset;
  }
}

ngb-accordion .card-header > button {
  text-align: left;
  width: 100%;
  height: 100%;
}
