<div class="modal-header">Nuevo Renglón de Factura</div>
<div class="modal-body">
  <form [formGroup]="form" (submit)="submit()" *ngIf="form">
    <div class="mb-3">
      <app-producto-filtro formControlName="idProducto"></app-producto-filtro>
      <div class="custom-error-message error-message-fix" *ngIf="submitted && f.idProducto.errors">
        <div *ngIf="f.idProducto.errors.required">Requerido</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="cantidad" class="form-label">Cantidad</label>
          <input type="number" min="1" class="form-control" id="cantidad" formControlName="cantidad"
                 [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }">
          <div class="invalid-feedback" *ngIf="submitted && f.cantidad.errors">
            <div *ngIf="f.cantidad.errors.required">Requerido</div>
            <div *ngIf="f.cantidad.errors.min">Mínimo {{ f.cantidad.errors.min.min | number:'1.0-2' }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="bonificacion" class="form-label">Bonificación (%)</label>
          <input type="number" min="0" class="form-control" id="bonificacion" formControlName="bonificacion"
                 [ngClass]="{ 'is-invalid': submitted && f.bonificacion.errors }">
          <div class="invalid-feedback" *ngIf="submitted && f.bonificacion.errors">
            <div *ngIf="f.bonificacion.errors.required">Requerido</div>
            <div *ngIf="f.bonificacion.errors.min">Mínimo {{ f.bonificacion.errors.min.min | number:'1.0-2' }}</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">
    <fa-icon [icon]="['fas', 'times']"></fa-icon> Cancelar
  </button>
  <button type="button" class="btn btn-primary" (click)="submit()">
    <fa-icon [icon]="['fas', 'check']"></fa-icon> Aceptar
  </button>
</div>
