<div class="app-cliente my-3">
  <div class="row">
    <h1 class="h3 col-md-10 text-truncate">
      <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
         (click)="volverAlListado()">
        <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
      </a>
      <fa-icon [icon]="['fas', 'portrait']"></fa-icon>
      {{ cliente ? 'Cliente' : 'Nuevo cliente' }}
    </h1>
  </div>
  <form (ngSubmit)="submit()" [formGroup]="form" class="card card-body bg-light mt-2" *ngIf="form">
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="puede-comprar-a-plazo" formControlName="puedeComprarAPlazo">
          <label for="puede-comprar-a-plazo" class="form-check-label">Puede comprar a plazo</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="monto-compra-minima" class="form-label">Compra Mínima</label>
          <input type="number" class="form-control" id="monto-compra-minima" min="0" formControlName="montoCompraMinima">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="nombreFiscal" class="form-label">R. Social o Nombre *</label>
          <input type="text" class="form-control" id="nombreFiscal" required formControlName="nombreFiscal"
                 [ngClass]="{ 'is-invalid': submitted && f.nombreFiscal.errors }">
          <div class="invalid-feedback" *ngIf="submitted && f.nombreFiscal.errors">
            <div *ngIf="f.nombreFiscal.errors.required">Requerido</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="nombreFantasia" class="form-label">Nombre Fantasía</label>
          <input type="text" class="form-control" id="nombreFantasia" formControlName="nombreFantasia">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="mb-3">
          <label for="categoriaIVA" class="form-label">Categoría IVA *</label>
          <select class="form-select" id="categoriaIVA" required formControlName="categoriaIVA"
                  [ngClass]="{ 'is-invalid': submitted && f.categoriaIVA.errors }">
            <option [value]="ci.value" *ngFor="let ci of categoriasIVA">{{ ci.text }}</option>
          </select>
          <div class="invalid-feedback" *ngIf="submitted && f.categoriaIVA.errors">
            <div *ngIf="f.categoriaIVA.errors.required">Requerido</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="idFiscal" class="form-label">CUIT ó DNI</label>
          <input type="text" class="form-control" id="idFiscal" formControlName="idFiscal">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-ubicacion-form-field id="ubicacion-facturacion" label="Ubicación de Facturación" formControlName="ubicacionFacturacion"></app-ubicacion-form-field>
        <app-ubicacion-form-field id="ubicacion-envio" label="Ubicación de Envío" formControlName="ubicacionEnvio"></app-ubicacion-form-field>
        <app-usuario-filtro formControlName="idViajante" label="Viajante" [roles]="[rol.VIAJANTE]" [profile]="ufProfile" [showNewButton]="true" ></app-usuario-filtro>
      </div>
      <div class="col-md-6">
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono *</label>
          <input type="text" class="form-control" id="telefono" required formControlName="telefono"
                 [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }">
          <div class="invalid-feedback" *ngIf="submitted && f.telefono.errors">
            <div *ngIf="f.telefono.errors.required">Requerido</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="contacto" class="form-label">Contacto</label>
          <input type="text" class="form-control" id="contacto" formControlName="contacto">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div class="invalid-feedback" *ngIf="submitted && f.email.errors">
            <div *ngIf="f.email.errors.email">Email inválido</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-usuario-filtro formControlName="idCredencial" label="Credencial *"  [roles]="[rol.COMPRADOR]" [profile]="ufProfile" [showNewButton]="true"></app-usuario-filtro>
        <div class="custom-error-message error-message-fix" *ngIf="submitted && f.idCredencial.errors">
          <div *ngIf="f.idCredencial.errors.required">Requerido</div>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button class="btn btn-primary" type="submit">
        <fa-icon [icon]="['fas', 'check']"></fa-icon> Guardar
      </button>
    </div>
  </form>
</div>
