<div class="app-ver-traspaso my-3">
  <div *ngIf="traspaso">
    <div class="row">
      <h1 class="h3 col-md-10 text-truncate">
        <a class="btn fake-cursor" placement="right" ngbPopover="Volver al Listado" triggers="mouseenter:mouseleave"
           (click)="volverAlListado()">
          <fa-icon [icon]="['fas', 'chevron-left']" [size]="'lg'"></fa-icon>
        </a>
        <fa-icon [icon]="['fas', 'exchange-alt']"></fa-icon>
        Traspaso #{{ traspaso.nroTraspaso }}
      </h1>
    </div>
    <table class="table table-bordered table-sm">
      <caption class="sr-only">Datos del traspaso</caption>
      <tbody>
      <tr><th scope="row" class="w-25 table-dark">Fecha</th><td>{{ traspaso.fechaDeAlta | date:'dd/MM/yyyy' }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Nº Traspaso</th><td>{{ traspaso.nroTraspaso }}</td></tr>
      <tr *ngIf="traspaso.nroPedido"><th scope="row" class="w-25 table-dark">Nº Pedido</th><td>{{ traspaso.nroPedido }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Sucursal Origen</th><td>{{ traspaso.nombreSucursalOrigen }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Sucursal Destino</th><td>{{ traspaso.nombreSucursalDestino }}</td></tr>
      <tr><th scope="row" class="w-25 table-dark">Usuario</th><td>{{ traspaso.nombreUsuario }}</td></tr>
      <tr><th scope="row" colspan="2" class="table-dark">Productos</th></tr>
      <tr>
        <td colspan="2">
          <div *ngFor="let r of renglones" class="d-flex flex-column flex-sm-row align-items-sm-center traspaso p-2">
            <div class="item-info">
              <div class="codigo">{{ r.codigoProducto }}</div>
              <div class="descripcion">{{ r.descripcionProducto }}</div>
            </div>
            <div class="item-cantidad text-end text-sm-center">
              <span class="ms-2 text-nowrap">{{ r.cantidadProducto | number: '1.0-2' }} {{ r.nombreMedidaProducto }}</span>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
