<div class="app-batch-actions-box d-flex flex-row flex-wrap align-items-center justify-content-end">
    <span class="mx-2">({{ count }} selecc.)</span>
    <button class="btn btn-outline-secondary m-1" type="button"
            ngbPopover="Limpiar Seleccionados" triggers="mouseenter:mouseleave" placement="left"
            (click)="clearAll()" [disabled]="!count">
      <fa-icon [icon]="['fas', 'broom']"></fa-icon>
    </button>
    <ng-container *ngFor="let a of actions">
      <button class="btn btn-primary m-1" type="button" *ngIf="isButtonVisible(a)"
              [ngbPopover]="a.description" triggers="mouseenter:mouseleave" placement="left"
              (click)="actionClick(a)" [disabled]="!count">
        <fa-icon [icon]="a.icon"></fa-icon>
      </button>
    </ng-container>
</div>
