<span class="d-flex flex-column app-cliente-info">
  <span class="me-2">
    <span class="numero">#{{ cliente.nroCliente }}</span>
  </span>
  <span>
    <span *ngIf="cliente.idFiscal">CUIT o DNI: {{ cliente.idFiscal }}<br></span>
    <strong>{{ cliente.nombreFiscal }}</strong><em *ngIf="cliente.nombreFantasia"> - {{ cliente.nombreFantasia }}</em>
  </span>
  <span *ngIf="cliente.ubicacionFacturacion">
    Ubi. facturación: {{ helper.formatUbicacion(cliente.ubicacionFacturacion) }}
  </span>
  <span *ngIf="cliente.ubicacionEnvio">
    Ubi. envio: {{ helper.formatUbicacion(cliente.ubicacionEnvio) }}
  </span>
  <span class="flex flex-column">
    <span class="badge me-2" [ngClass]="cliente.puedeComprarAPlazo?'text-bg-success':'text-bg-danger'">
      <fa-icon [icon]="['fas', 'check']" *ngIf="cliente.puedeComprarAPlazo"></fa-icon>
      <fa-icon [icon]="['fas', 'times']" *ngIf="!cliente.puedeComprarAPlazo"></fa-icon>
      {{ cliente.puedeComprarAPlazo ? 'P' : 'No p' }}uede comprar a plazo
    </span>
    <span class="badge text-bg-info" *ngIf="cliente.montoCompraMinima">
      Compra mínima: {{ cliente.montoCompraMinima | currency: 'ARS':'symbol':'1.0-2' }}
    </span>
  </span>
</span>
