<section class="container">
    <span>Compras por año</span>
    <div class="canvasStyle" *ngIf="chartDataArray.length > 0">
        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
            [legend]="barChartLegend" [type]="'bar'">
        </canvas>
    </div>
    <div *ngIf="chartDataArray.length === 0" class="alert alert-secondary mt-2 text-center w-fit">
        No hay información disponible para este periodo. Seleccione un mes diferente
    </div>
</section>