<div class="app-configuracion my-3">
  <div class="d-flex flex-row">
    <h1 class="h3 flex-fill text-truncate">
      <fa-icon [icon]="['fas', 'cog']"></fa-icon> Configuración de sucursal
    </h1>
  </div>
  <p>La siguiente configuración se aplica a la sucursal seleccionada<span *ngIf="sucursal"> ({{ this.sucursal.nombre}})</span>: </p>
  <form class="border p-3 rounded" [formGroup]="form" (submit)="submit()" *ngIf="form">
    <div class="row">
      <div class="col-xl-6 mb-2">
        <div class="card">
          <div class="card-header">Reportes</div>
          <div class="card-body">
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="usarFacturaVentaPreImpresa" formControlName="usarFacturaVentaPreImpresa">
              <label for="usarFacturaVentaPreImpresa" class="form-check-label">Usar Facturas pre Impresas</label>
            </div>
            <div class="mb-3">
              <label for="cantidadMaximaDeRenglonesEnFactura" class="form-label">Cantidad Máxima de renglones</label>
              <input type="number" min="100" class="form-control" id="cantidadMaximaDeRenglonesEnFactura" formControlName="cantidadMaximaDeRenglonesEnFactura"
                     [ngClass]="{ 'is-invalid': submitted && f.cantidadMaximaDeRenglonesEnFactura.errors }">
              <div class="invalid-feedback" *ngIf="submitted && f.cantidadMaximaDeRenglonesEnFactura.errors">
                <div *ngIf="f.cantidadMaximaDeRenglonesEnFactura.errors.required">Requerido</div>
                <div *ngIf="f.cantidadMaximaDeRenglonesEnFactura.errors.min">Mínimo {{ f.cantidadMaximaDeRenglonesEnFactura.errors.min.min | number:'1.0-2' }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 mb-2">
        <div class="card">
          <div class="card-header">Factura Electrónica</div>
          <div class="card-body">
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="facturaElectronicaHabilitada" formControlName="facturaElectronicaHabilitada">
              <label for="facturaElectronicaHabilitada" class="form-check-label">Usar AFIP Factura Electrónica</label>
            </div>
            <div class="mb-3">
              <label class="form-label">
                Certificado Digital Afip
                <span *ngIf="configuracion && configuracion.existeCertificado" class="badge text-bg-success">(Cargado)</span>
                <span *ngIf="!(configuracion && configuracion.existeCertificado)" class="badge text-bg-danger">(No Cargado)</span>
              </label>
              <input type="file" class="form-control" id="certificadoAfip" lang="es" accept=".p12" (change)="fileChange($event)" [disabled]="disabledInputFile">
            </div>
            <div class="mb-3">
              <label for="firmanteCertificadoAfip" class="form-label">Firmante Certificado</label>
              <input type="text" id="firmanteCertificadoAfip" class="form-control" formControlName="firmanteCertificadoAfip"
                     [ngClass]="{ 'is-invalid': submitted && f.firmanteCertificadoAfip.errors }">
              <div class="invalid-feedback" *ngIf="submitted && f.firmanteCertificadoAfip.errors">
                <div *ngIf="f.firmanteCertificadoAfip.errors.required">Requerido</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="passwordCertificadoAfip" class="form-label">Contraseña Certificado</label>
              <input type="password" class="form-control" id="passwordCertificadoAfip" formControlName="passwordCertificadoAfip">
            </div>
            <div class="mb-3">
              <label for="nroPuntoDeVentaAfip" class="form-label">Punto de venta Nº</label>
              <input type="number" min="1" class="form-control" id="nroPuntoDeVentaAfip" formControlName="nroPuntoDeVentaAfip"
                     [ngClass]="{ 'is-invalid': submitted && f.nroPuntoDeVentaAfip.errors }">
              <div class="invalid-feedback" *ngIf="submitted && f.nroPuntoDeVentaAfip.errors">
                <div *ngIf="f.nroPuntoDeVentaAfip.errors.required">Requerido</div>
                <div *ngIf="f.nroPuntoDeVentaAfip.errors.min">Mínimo {{ f.nroPuntoDeVentaAfip.errors.min.min | number:'1.0-2' }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 mb-2">
        <div class="card">
          <div class="card-header">Envíos</div>
          <div class="card-body">
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="puntoDeRetiro" formControlName="puntoDeRetiro">
              <label for="puntoDeRetiro" class="form-check-label">Usar como punto de retiro</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 mb-2">
        <div class="card">
          <div class="card-header">Pedidos</div>
          <div class="card-body">
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="predeterminada" formControlName="predeterminada">
              <label for="predeterminada" class="form-check-label">Usar como predeterminada</label>
            </div>
            <div class="mb-3">
              <label for="vencimientoCorto" class="form-label">Tiempo de vida corto (horas)</label>
              <input type="number" min="1" class="form-control" id="vencimientoCorto" formControlName="vencimientoCorto"
                     [ngClass]="{ 'is-invalid': submitted && f.vencimientoCorto.errors }">
              <div class="invalid-feedback" *ngIf="submitted && f.vencimientoCorto.errors">
                <div *ngIf="f.vencimientoCorto.errors.required">Requerido</div>
                <div *ngIf="f.vencimientoCorto.errors.min">Mínimo {{ f.vencimientoCorto.errors.min.min | number:'1.0-2' }}</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="vencimientoLargo" class="form-label">Tiempo de vida largo (horas)</label>
              <input type="number" min="1" class="form-control" id="vencimientoLargo" formControlName="vencimientoLargo"
                     [ngClass]="{ 'is-invalid': submitted && f.vencimientoLargo.errors }">
              <div class="invalid-feedback" *ngIf="submitted && f.vencimientoLargo.errors">
                <div *ngIf="f.vencimientoLargo.errors.required">Requerido</div>
                <div *ngIf="f.vencimientoLargo.errors.min">Mínimo {{ f.vencimientoLargo.errors.min.min | number:'1.0-2' }}</div>
              </div>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="comparteStock" formControlName="comparteStock">
              <label for="comparteStock" class="form-check-label">Comparte Stock</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-end">
      <button class="btn btn-primary" type="submit">
        <fa-icon [icon]="['fas', 'check']"></fa-icon> Guardar
      </button>
    </div>
  </form>
</div>
